<div class="container-fluid stock_photos_container hidden-xs">  
  <div class="center-me">
    <div class="add_padding col-md-4 col-sm-4" >
      <div  class="col-md-12 stock_photo_container" id="physics">
        <%= link_to display_subjects_path(search_subjects: 'physics', search_position: ''), class: "stock_photo_container" do %>
          <%= image_tag 'view-more.png', class: 'welcome_subject_image img-responsive' %>
        <% end %>
      </div> <!-- end of stock_photo_container -->      
    </div> <!-- end of add_padding -->
    <div class="add_padding col-md-4 col-sm-4" >
      <div  class="col-md-12 stock_photo_container" id="maths">
        <%= link_to display_subjects_path(search_subjects: 'maths', search_position: ''), class: "stock_photo_container" do %>
          <%= image_tag 'view-more.png', class: 'welcome_subject_image img-responsive' %>
        <% end %>
      </div> <!-- end of stock_photo_container -->      
    </div> <!-- end of add_padding -->
    <div class="add_padding col-md-4 col-sm-4" >
      <div  class="col-md-12 stock_photo_container" id="chemistry">
        <%= link_to display_subjects_path(search_subjects: 'chemistry', search_position: ''), class: "stock_photo_container" do %>
          <%= image_tag 'view-more.png', class: 'welcome_subject_image img-responsive' %>
        <% end %>
      </div> <!-- end of stock_photo_container -->      
    </div> <!-- end of add_padding -->
    
  </div> <!-- end of center-me -->  
</div> <!-- end of stock_photos_container -->
<div class="container-fluid stock_photos_container hidden-xs">  
  <div class="center-me">
    <div class="add_padding col-md-4 col-sm-4" >
      <div  class="col-md-12 stock_photo_container" id="biology">
        <%= link_to display_subjects_path(search_subjects: 'biology', search_position: ''), class: "stock_photo_container" do %>
          <%= image_tag 'view-more.png', class: 'welcome_subject_image img-responsive' %>
        <% end %>
      </div> <!-- end of stock_photo_container -->      
    </div> <!-- end of add_padding -->
    <div class="add_padding col-md-4 col-sm-4" >
      <div  class="col-md-12 stock_photo_container" id="accountancy">
        <%= link_to display_subjects_path(search_subjects: 'accountancy', search_position: ''), class: "stock_photo_container" do %>
          <%= image_tag 'view-more.png', class: 'welcome_subject_image img-responsive' %>
        <% end %>
      </div> <!-- end of stock_photo_container -->      
    </div> <!-- end of add_padding -->
    <div class="add_padding col-md-4 col-sm-4" >
      <div  class="col-md-12 stock_photo_container" id="chemistry">
        <%= link_to display_subjects_path(search_subjects: 'chemistry', search_position: ''), class: "stock_photo_container" do %>
          <%= image_tag 'view-more.png', class: 'welcome_subject_image img-responsive' %>
        <% end %>
      </div> <!-- end of stock_photo_container -->      
    </div> <!-- end of add_padding -->
    
  </div> <!-- end of center-me -->
</div> <!-- end of stock_photos_container -->
