<div class="row subject_pic_row" style="display: none;">
  <div class="col-md-3 subject_pic_container">
    <div id="physics">
      <%= link_to display_subjects_path(search_subjects: 'physics', search_position: ''), class: "stock_photo_container" do %>
        
        <%= image_tag 'view-more.png', class: 'welcome_subject_image' %>
      <% end %>
    </div><!-- end of french -->      
  </div> <!-- end of subject_pic_container -->
  <div class="col-md-3 subject_pic_container">
    <div id="maths">
      <%= link_to display_subjects_path(search_subjects: 'maths', search_position: ''), class: "stock_photo_container" do %>
        
        <%= image_tag 'view-more.png', class: 'welcome_subject_image' %>
      <% end %>
    </div><!-- end of italian -->      
  </div> <!-- end of subject_pic_container -->
  <div class="col-md-3 subject_pic_container">
    <div id="chemistry">
      <%= link_to display_subjects_path(search_subjects: 'chemistry', search_position: ''), class: "stock_photo_container" do %>
        
        <%= image_tag 'view-more.png', class: 'welcome_subject_image' %>
      <% end %>
    </div><!-- end of german -->      
  </div> <!-- end of subject_pic_container -->   
</div><!-- end of subject_pic_row -->