<% cache [current_teacher, 'payment_no_location_choice_modal'] do %>
  <% if teacher_signed_in? %>  
    <div class="modal fade" id="payment_no_location_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Payment Options</h4>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <% if @teacher.paypal_email != "" %>
                  <div class="col-md-6">
                    <%= form_tag single_booking_paypal_path, method: 'post' do %>
                      <%= hidden_field_tag :teacher, @teacher.email %>
                      <%= hidden_field_tag :receiver_amount, @home_price.to_f %>
                      <%= hidden_field_tag :paypal, '1' %>
                      <%# hidden_field_tag :tracking_id, '', class: 'tracking_id' %>
                      <%= image_submit_tag 'https://www.paypalobjects.com/en_US/i/btn/x-click-but6.gif' %>
                    <% end %>
                  </div> <!-- end of col-md-6-->
                <% end %>
              </div>
            </div> <!-- end of container-fluid -->
          </div> <!-- end of modal-body -->
        </div> <!-- end of modal-content -->
      </div> <!-- end of modal-dialog -->
    </div> <!-- end of modal fade -->
  <% end %> <!-- if teacher_signed_in? -->
<% end %> <%# end of cache %>