<div class="modal fade" id="payments_modal_for_users" tab-index="-2" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="payments_modal_title">Review your booking</h4>
      </div> <!-- end of modal-header -->
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
           <div class="table-responsive">
            <table class="table table-condensed table-hover">
              <tr>
                <td>Start time:</td>
                <td id="event_table_start_time"><%# @event.start_time.to_formatted_s(:long) %></td>
              </tr>
              <tr id="event_table_end_time_row">
                <td>End time:</td>
                <td id="event_table_end_time"><%# @event.end_time.to_formatted_s(:long) %></td>
              </tr>
              <tr>
                <td>Length:</td>
                <td id="event_table_length"><%# total_time = '%.2f' % ((@event.end_time - @event.start_time) / 3600) %> hours</td>
              </tr>
              <tr>
                <td>Total price</td>
                <% puts "rate #{@rate}" %>
                <td id="event_table_price"><%# number_to_currency('%.2f' % (@rate * total_time.to_f), unit:'€') %></td>
              </tr>              
            </table>
           </div>
          </div>
        </div>
        <div class="row">
          <% if @teacher.has_payment_set? %>
            <% if @teacher.paypal_email != "" %>
              <div class="col-xs-6">
                <%= form_tag paypal_create_path, method: 'get', class: 'payments_modal_for_users_form' do %>
                  <%= hidden_field_tag :teacher, '', class: 'paypal_teacher_email' %>
                  <%= hidden_field_tag :receiver_amount, '', class: 'rate' %>
                  <%= hidden_field_tag :paypal, '1' %>
                  <%= hidden_field_tag :tracking_id, '', class: 'tracking_id' %>
                  <%= hidden_field_tag :cart_id, '', class: 'payments_modal_users_cart' %> 
                  <%= image_submit_tag 'https://www.paypalobjects.com/en_US/i/btn/x-click-but6.gif' %>
                <% end %>
              </div> <!-- end of col-md-6-->
            <% end %>

            
            <% if @teacher.stripe_access_token != "" %>
              
              <div class="col-xs-6">
                <%= form_tag stripe_create_path, class: 'payments_modal_for_users_form' do %>
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="pk_test_bedFzS7vnmzthkrQolmUjXNn"
                  data-description="Book your lesson"
                  data-currency="eur"
                  data-description="This is the description"
                  data-imgage="<%= asset_url 'stripe.png' %>"
                  ></script>
                  <%= hidden_field_tag :amount, '', class: 'rate' %>                
                  <%# hidden_field_tag :tracking_id, '', class: 'tracking_id' %>        
                  <%= hidden_field_tag :student_email, '', class: 'payments_modal_student_email' %> 
                  <%= hidden_field_tag :teacher_id, '', class: 'payments_modal_teacher_id' %>
                  <%= hidden_field_tag :teacher_email, '', class: 'payments_modal_teacher_email' %>
                  <%= hidden_field_tag :teacher_name, @teacher.full_name %> 
                  <%= hidden_field_tag :student_id, '', class: 'payments_modal_student_id' %> 
                  <%= hidden_field_tag :subject_id, '', class: 'payments_modal_subject_id' %> 
                  <%= hidden_field_tag :start_time, '', class: 'payments_modal_start_time' %> 
                  <%= hidden_field_tag :end_time, '', class: 'payments_modal_end_time' %> 
                  <%# hidden_field_tag :cart_id, '', class: 'payments_modal_users_cart' %> 
            
            
                <% end %>
              </div> <!-- end of col-md-6-->

            <% end %>
          <% else %> <%# no payment method set %>
            <% if teacher_signed_in? %>
              <%= form_tag payless_booking_path(id: current_teacher.id) do %>
                <%= submit_tag 'Book lesson', class: 'btn btn-lg btn-success center-block' %>
                
              <% end %> <%# end of form_tag %>
            <% end %>

          <% end %>
        </div> <!-- end of row -->
      </div> <!-- end of modal-body -->


      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>        
      </div>
    </div> <!-- end of modal-content -->
  </div> <!-- end of modal-dialog -->
</div> <!-- end of modal fade -->