<%= include_gon %>  
<% content_for :head do %>
  <meta property="og:title"
  content="Profile page for <%= @teacher.full_name %>" />
  <meta property="og:site_name" content="Learn your lesson" />
  <meta property="og:url"
  content="<%= request.original_url %>" />
  <meta property="og:description" content="#{ @teacher.full_name } profile page. " />
  <meta property="fb:app_id" content="<%= ENV['FACEBOOK_APP_ID'] %>" />
  <meta property="og:type" content="article" />
  <meta property="og:image" content= "<%= asset_url('facebook_logo.jpg') %>" />
<% end %>
<%= content_for :title, "Book a lesson with #{ @teacher.full_name } in #{ @subject.name }" %>
<%= content_for :description, "Book a lesson in #{ @subject.name }, book online with confidence, Pay online or in person" %>


<div class="outer-container">


  <script src="https://checkout.stripe.com/checkout.js"></script>

  <div class="row show_teacher_profile_container">
    <div class="col-sm-4 col-xs-12 show_teacher_profile_section nopadding mob_no_padding">    
      <div class="container-fluid profile_pic_container" style="background-image: url(<%= @profilePic %>)">
        <%# image_tag Photo.find(@teacher.profile).avatar.url, class: 'pull-left img-responsive', size:'150x150' %>
        <p class="pull-left teachers_name"><%= @teacher.full_name %></p>
        
        <%= link_to 'Contact teacher', '#', class: 'btn btn-info btn-lg contact_teacher', 
            data: { toggle: 'modal', target: "#conversation" } %>
        
      </div> <!-- end of col-xs-12 profile_pic_container -->   
      <table class="table table-bordered table-striped table-hover teacher_profile_table col-xs-12">
        
        <tr>
          <td >Address: </td>
          <td id="address"><%= @teacher.locations.first.address %></td>
        </tr>
        <tr>
          <td >Profile views: </td>
          <td id="address"><%= @teacher.profile_views %></td>
        </tr>
      </table>
    </div> <!-- end of show_teacher_profile_section -->
    <div class="col-sm-8 mob_no_padding">    
        <div class="col-xs-12 mob_no_padding nopadding">
          <div role="tabpanel">
            <ul class="nav nav-tabs" role="tablist">
              <%= render partial: 'partials/show_teacher/show_teacher_maps_li_tags', collection: @locations, as: :location %>
            </ul> <!-- emd of nav nav-tabs -->
            <div class="tab-content">
              <%= render partial: 'partials/show_teacher/show_teacher_maps_tabs', collection: @locations, as: :location %>
            </div> <!-- end of tab-content -->
          </div> <!-- end of tabpanel -->
        </div> <!-- end of col- -->    
    </div> <!-- end of col-sm-9 -->   
  </div> <!-- end of row show_teacher_profile_container -->

  <div class="row show_teacher_to_user">  
    <div class="col-sm-8 col-xs-12 mob_no_padding">
      <div class="panel panel-default mobile">
          <div class="panel-heading teachers_info"><h2 class="panel-title pull-left">Overview</h2>
            
          </div> <!-- end of panel heading -->
          <div class="panel-body ">
            <ul class="list-group">     
              <%= simple_format(@teacher.overview) %>
            </ul>
          </div> <!-- end of panel-body -->
        </div> <!-- end of panel panel-default -->
      <% if !@teacher.experiences.empty? %>
        <div class="panel panel-default mobile">
          <div class="panel-heading teachers_info"><h2 class="panel-title pull-left">Experience</h2>
            
          </div> <!-- end of panel heading -->
          <div class="panel-body ">
            <ul class="list-group">     
              <%= render partial: 'partials/experience', collection: @teacher.experiences %>
            </ul>
          </div> <!-- end of panel-body -->
        </div> <!-- end of panel panel-default -->
      <% end %>
      <% if !@teacher.qualifications.empty? %>
      
        <div class="panel panel-default mobile">
          <div class="panel-heading teachers_info"><h2 class="panel-title pull-left">Education</h2>
          
          </div> <!-- end of panel heading -->

          <div class=" panel-body">
            <ul class="list-group">
              <%= render partial: 'partials/teachers_qualification', collection: @teacher.qualifications, as: :qualification %>
            </ul> <!-- end of list-group -->
          </div> <!-- end of panel-body -->
        </div> <!-- end of panel-default -->
      <% end %>
      <% if !@reviews.empty? %>
          
        <table class="table table-bordered teacher_profile_table">
          <thead class="table_header">
            <tr>
              <th class="col-md-8">Review</th>
              <th>When</th>
            </tr>
          </thead>
          <tbody>
            <%= render partial: 'partials/review_row_partial', collection: @reviews, as: :review %>
          </tbody>
        </table>      
      <% end %> <%# end of reviews %>
      <% if !@photos.empty? %>
        <div class="col-xs-12 nopadding mob_no_padding">        
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Photos</h3>
            </div> <!-- end of panel heading -->
            <div class="panel-body">
              <div class="fotorama col-xs-12 white_back">
                <% @photos.each do |p| %>
                  <%= image_tag p.avatar.url,  class: 'img-responsive' %>
                <% end %>
              </div> <!-- end of fotrama -->
            </div> <!-- end of panel-body -->
          </div> <!-- end of panel panel-default -->
          
        </div> <!-- end of col-sm-4 col-xs-12 mob_no_padding -->
      <% end %> <%# end of photos %>  
    </div> <!-- end of col-sm-8 col-xs-12 mob_no_padding --> 

    <div class="mob_no_padding col-md-4 col-xs-12 nopadding">
      <div class="teacher_purchase_panel">        
        <div class="panel booking_button_panel">
          <div class="panel-heading booking_button_panel_heading">
              <h4 class="text-center"><strong><%= "#{@teacher.full_name}" %></strong></h4>
          </div> <!-- end of panel-heading -->
          <div class="panel-body text-center">
              <p class="lead">
                <%= @subject.name %>
              </p> 
              <div class="rates">
                <span class="teachers_rate">From <%= get_lowest_price(@prices) %></span> <%# teachers helper %>
                
                <%# if check_home_price(@prices, @subject.id) %> <%# teachers_helper %>
                  <!-- Home lesson price <br> -->
                  <%# get_home_price(@prices, @subject.id) %>
                <%# end %>                
              </div>

                <%# render partial: 'partials/teachers_rates' %>
          </div> <!-- end of panel-body -->
          <ul class="list-group list-group-flush text-center">
            <% if teacher_signed_in? %>
              <li class="list-group-item"><i class="icon-ok text-danger"></i><button class="btn btn-lg btn-block btn_book_now" data-toggle="modal" data-target="#the_one_modal">BOOK NOW!</button></li>
              
            <% else %>
              <li class="list-group-item"><i class="icon-ok text-danger"></i><%= link_to 'BOOK NOW!', '#', data: { toggle: 'modal', target: '#login_modal' }, class: 'btn btn-lg btn-block btn_book_now ' %></li>                
            <% end %>
          </ul> <!-- end of list-group -->
            
        </div> <!-- end of booking_button_panel -->
      </div> <!-- end of teacher_purchase_panel -->

      <div class="panel booking_button_panel">
        <div class="panel-heading booking_button_panel_heading">
          <h4 class="panel-title">Subject(s) taught</h4>
        </div>
        <div class="panel-body">
          <%= display_subjects(@teacher.subjects, @teacher.id) %> <%# teachers_helper %>
        </div> <!-- end of panel-body -->
      </div> <!-- end of booking_button_panel -->
      <% if @teacher.packages.size != 0 && @teacher.has_payment_set? %>
        <div class="col-xs-12 package_form_well">
          <h3 class="package_form_header">Teachers special offers</h3>
          
          <div class="text-center"> <%# teachers helper for get_select_text %>
            <%= select('packages', 'id', @teacher.packages.collect { |p| get_select_text(p) }) %><br>
            <% if teacher_signed_in? %>
              <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#payment_packages_modal" > <!-- load modal content dynamically -->
                Book your package
              </button>              
            <% else %>
              <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#login_modal" %> <!-- load modal content dynamically -->
                Book your package
              </button>                       
            <% end %>
            
          </div> <!-- end of text-center -->
        </div> <!-- end of package_form_well -->
      <% end %> <%# end of packages loop %>
    </div> <!-- end of mob_no_padding col-md-4 col-xs-12 nopadding -->    
  </div> <!-- end of row show_teacher_to_user -->     
  

    <div class="row show_teacher_to_user">
      <div class="col-sm-12 col-xs-12 mob_no_padding">
        <!-- <div id="teacher_display_map">
        </div> --> <!-- end of teacher_display_map -->
        <div id="scheduler_here" class="dhx_cal_container teachers_display_scheduler" >
          <div class="dhx_cal_navline" >
              <div class="dhx_cal_prev_button">&nbsp;</div>
              <div class="dhx_cal_next_button">&nbsp;</div>
              <div class="dhx_cal_date display_teachers_cal_date pull-left" id="display_teachers_cal_date"></div>
              
          </div> <!-- end of dhx_cal_navline -->
          <div class="dhx_cal_header"></div>
          <div class="dhx_cal_data"></div>       
        </div> <!-- end of scheduler_here -->   
      </div>
    </div> <!-- end of row -->
    <!-- Button trigger modal -->
</div>

<%= render 'modals/show_teacher/booking_modal' %>
<%= render 'modals/show_teacher/payment_packages_modal' %>
<%= render 'modals/conversation_modal' %>
<%= render 'modals/show_teacher/the_one_modal' %>