
	<% if experience.present == '1' %>
		<li class="list-group-item clearfix"><strong>Title: <%= experience.title %></strong>
			<span class="pull-right"><%= "#{experience.start.strftime('%Y %b')} - Present"%>
	      <%= experience_delete_link(experience) %></span>
		</li>
		<div class="panel-footer"><%= experience.description %></div>
	<% else %>
		<li class="list-group-item clearfix"><strong>Title: <%= experience.title %></strong>
			<span class="pull-right"><%= "#{experience.start.strftime('%Y %b')} - #{experience.end.strftime('%Y %b')}"%> 
			<%= experience_delete_link(experience) %> </span>
	      
		</li>
		<div class="panel-footer"><%= experience.description %></div>
	<% end %>

