<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
     <div class="table-responsive">
      <table class="table table-condensed table-hover">
        <tr>
          <td>Start time:</td>
          <td><%= @event.start_time.to_formatted_s(:long) %></td>
        </tr>
        <tr>
          <td>End time:</td>
          <td><%= @event.end_time.to_formatted_s(:long) %></td>
        </tr>
        <tr>
          <td>Length:</td>
          <td><%= total_time = '%.2f' % ((@event.end_time - @event.start_time) / 3600) %> hours</td>
        </tr>
        <tr>
          <td>Total price</td>
          <% puts "rate #{@rate}" %>
          <td><%= number_to_currency('%.2f' % (@rate * total_time.to_f), unit:'€') %></td>
        </tr>
      </table>
     </div>
    </div>
  </div>
  <div class="row">
    <% if @teacher.paypal_email != "" %>
      <div class="col-md-6">
        <%= form_tag paypal_create_path, method: 'get' do %>
          <%= hidden_field_tag :teacher, @teacher.paypal_email %>
          <%= hidden_field_tag :receiver_amount, @rate %>
          <%= hidden_field_tag :paypal, '1' %>
          <%= hidden_field_tag :tracking_id, @cart.tracking_id %>
          <%= image_submit_tag 'https://www.paypalobjects.com/en_US/i/btn/x-click-but6.gif' %>
        <% end %>
      </div> <!-- end of col-md-6-->
    <% end %>


    <% if @teacher.stripe_access_token != "" %>
      <div class="col-md-6">
        <%= form_tag stripe_create_path do %>
          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_bedFzS7vnmzthkrQolmUjXNn"
            data-description="Book your lesson"
            data-currency="eur"
            data-description="This is the description"
            data-amount="<%= (@rate * 100).to_i %>"></script>
          <%= hidden_field_tag :amount, @rate %>
          <%= hidden_field_tag :teacher_id, @teacher.id %>
          <%= hidden_field_tag :tracking_id, @cart.tracking_id %>        
          <%= hidden_field_tag :current_teacher, current_teacher.id if teacher_signed_in? %>
          
          
        <% end %>
      </div> <!-- end of col-md-6-->

    <% end %>
  </div> <!-- end of row -->
</div> <!-- end of container-fluid -->
