<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <%= @event.start_time.to_formatted_s(:long) %>
    </div>
  </div>
  <div class="row">
    <% if @teacher.paypal_email != "" %>
      <div class="col-md-6">
        <%= form_tag paypal_create_path, method: 'get' do %>
          <%= hidden_field_tag :teacher, @teacher.paypal_email %>
          <%= hidden_field_tag :receiver_amount, @teacher.rate %>
          <%= hidden_field_tag :paypal, '1' %>
          <%= hidden_field_tag :tracking_id, @cart.tracking_id %>
          <%= image_submit_tag 'https://www.paypalobjects.com/en_US/i/btn/x-click-but6.gif' %>
        <% end %>
      </div> <!-- end of col-md-6-->
    <% end %>


    <% if @teacher.stripe_access_token != "" %>
      <div class="col-md-6">
        <%= form_tag stripe_create_path do %>
          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_bedFzS7vnmzthkrQolmUjXNn"
            data-description="Book your lesson"
            data-currency="eur"
            data-description="This is the description"
            data-amount="<%= (@teacher.rate * 100).to_i %>"></script>
          <%= hidden_field_tag :amount, @teacher.rate %>
          <%= hidden_field_tag :teacher_id, @teacher.id %>
          <%= hidden_field_tag :tracking_id, @cart.tracking_id %>        
          <%= hidden_field_tag :current_teacher, current_teacher.id if teacher_signed_in? %>
          
          
        <% end %>
      </div> <!-- end of col-md-6-->

    <% end %>
  </div> <!-- end of row -->
</div> <!-- end of container-fluid -->
