<div class="panel-heading">
  <h4 class="panel-title">
    <a href="#<%= event.id.to_s.parameterize.underscore %>" data-parent="#accordian" data-toggle="collapse">Teacher: <%= event.teacher_name %></a>
  </h4>
</div> <!-- end of panel-heading -->
<div id="<%= event.id.to_s.parameterize.underscore %>" class="panel-collapse collapse">
  <div class="panel-body">
    Date: <%= event.start_time.strftime("%d/%m/%Y") %>
    <% if !event.review %>    
      <%= render 'partials/create_review', event: event if !event.review %>
    <% else %>
      <span class="pull-right review_hover" data-html="true" data-content="<%= event.review.comment %> <a class='btn btn-danger btn-xs' href='<%= review_path(event.review.id) %>' data-method='DELETE' confirm('Delete review?')>Delete</a>" data-title="<%= event.student_name %>  <%= star_helper(event.review.rating).html_safe %>" data-container="body">Review already created</span>
    <% end %>
  </div> <!-- end of panel-body -->
</div> <!-- end of panel-collapse collapse -->

