<nav class="navbar teacher_nav navbar-default" id="teacher_nav_bar" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'learnyourlesson.ie', root_path, class: 'navbar-brand' %>
       
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= image_tag 'logo.png', height:40, width:40 %></li>
        <li ><%= link_to 'Personal info', edit_teacher_path(current_teacher) %></li>
        <li><%= link_to 'Qualifications', qualification_form_teacher_path(current_teacher) %></li>
        <li><%= link_to 'Location', your_location_teacher_path(current_teacher), 'data-no-turbolink' => true %></li>
        <li><%= link_to 'Work area', teachers_area_teacher_path(current_teacher), 'data-no-turbolink' => true %></li>
      </ul>
      
       <ul class="nav navbar-nav navbar-right">
        <li><a href="/how-it-works">How it works</a></li>
        <% if current_teacher %>
          <li><%= link_to 'Logout', destroy_teacher_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Login', new_teacher_session_path %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>