<div role="tabpanel" class="tab-pane active" id="location<%= location_counter %>">
  <div class="col-md-8 nopadding">

    <div id="map_canvas<%= location_counter %>" class="col-md-12 map_canvas" ></div>
  </div> <!-- end of col-md-8 -->
  <div class="col-md-4" >
    <h2 class="h3">Where are you located?</h2><br>
    <input id="address" type="text"><button id="start_address_search" onclick="start_address_search()">Find address</button><br>
    <h4>Or click on the map</h4><br>
    <%= form_for location, html: { class: 'form-horizontal'} do |f| %>
      <div class="form-group">
        <%= f.label :name, class: 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.text_field :name, class: 'form-control', id: 'lat' %>
        </div>
      </div> <!-- end of form-group -->
      <div class="form-group">
        <%= f.label :latitude, class: 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.text_field :latitude, class: 'form-control', id: 'lat' %>
        </div>
      </div> <!-- end of form-group -->
      <div class="form-group">
        <%= f.label :longitude, class: 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.text_field :longitude, class: 'form-control', id: 'lon' %>
        </div>
      </div> <!-- end of form-group -->

      <div class="form-group">
        <%= f.label :price, class: 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.text_field :price, class: 'form-control', id: 'price', value: number_to_currency(f.object.price, precision: 2, unit: '€') %>
          <span class="label label-warning">Set your price for this location</span>
        </div> <!-- end of col-sm-10 -->
      </div> <!-- end of form-group -->
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.hidden_field :teacher_id, value: current_teacher.id %>
        
        <%= f.submit 'Update your coordinates', class: 'btn btn-info' %>
      </div>


    <% end %>
    <p class="text-center coordsHinter">No coordinates selected yet!!</p>
  </div> <!-- end of col-md-4 -->
</div> <!-- end of tabpanel -->