<div role="tabpanel" class="tab-pane <%= 'active' if location_counter == 0 %>" id="location<%= location_counter %>">
  <div class="nopadding col-md-8">
    <div id="map_canvas<%= location_counter %>" class="col-md-12 map_canvas"></div>
  </div> <!-- end of col-md-8 -->
  <div class="col-md-4">
    <div class="teacher_purchase_panel">        
      <div class="panel booking_button_panel">
        <div class="panel-heading booking_button_panel_heading">
            <h4 class="text-center"><strong><%= "#{@teacher.full_name}" %></strong></h4>
        </div> <!-- end of panel-heading -->
        <div class="panel-body text-center">
            <p class="lead">
              Guitar <p id="rates"><%= number_to_currency(@prices.find_by(location_id: location, subject_id: @subject).price, unit: '€') %></p>
              <%# render partial: 'partials/teachers_rates' %>
        </div> <!-- end of panel-body -->
        <ul class="list-group list-group-flush text-center">
          <% if teacher_signed_in? %>
            <li class="list-group-item"><i class="icon-ok text-danger"></i><button class="btn btn-lg btn-block btn_book_now" data-toggle="modal" data-target="#payment_choice_modal">BOOK NOW!</button></li>
            
          <% else %>
            <li class="list-group-item"><i class="icon-ok text-danger"></i><%= link_to 'BOOK NOW!', '#', data: { toggle: 'modal', target: '#login_modal' }, class: 'btn btn-lg btn-block btn_book_now ' %></li>                
          <% end %>
        </ul> <!-- end of list-group -->
          
      </div> <!-- end of booking_button_panel -->
    </div> <!-- end of teacher_purchase_panel -->
    <div class="panel booking_button_panel">
      <div class="panel-heading booking_button_panel_heading">
        <h4 class="panel-title">Subject(s) taught</h4>
      </div>
      <div class="panel-body">
        <%= display_subjects(@teacher.subjects, @teacher.id) %> <%# teachers_helper %>
      </div> <!-- end of panel-body -->
    </div> <!-- end of booking_button_panel -->
  </div>
</div> <!-- end of tabpanel -->