<% content_for :title, "Searching for #{ params[:search_subjects] } teachers near you" %>
<% content_for :description, "LearnYourLesson lets you connect with local teachers in your area for lessons on music, photography, languages or anything else. Search results for #{ params[:search_subjects] }" %>
<%= include_gon %>
<div class="outer-container">
  <div  class="container-fluid search_page_results">
    <%= form_tag display_subjects_path, method: 'get', id: 'main_subject_search', :utf8_enforcer_tag => false, class: 'form-inline' do %>
      <div class="form-group">
        <%= text_field_tag :search_subjects, params[:search], :utf8_enforce_tag => false,placeholder: 'What do you want to learn today?', value: params[:search_subjects], class: 'typeahead form-control subject col-xs-12 col-md-12', autocomplete: :off, tabindex: 1 %>
      </div> <!-- end of form-group -->
      <div class="form-group">
        <%= text_field_tag :search_position, params[:search], placeholder: 'County',value: params[:search_position], class: 'typeahead form-control county col-xs-12 col-md-12', autocomplete: :off, tabindex: 2 %>
      </div> <!-- end of form-group -->
      <div class="container-fluid search_submit_container">
        <%= submit_tag "I'm ready to learn", name: 'search_submit', id: 'search_submit', class: 'btn', tabindex: 3 %>
      </div> <!-- end of container-fluid search_submit_container -->
    
    <div id="display_search_results">
      <span class="form-horizontal col-md-4 pull-right" role="form">
        <label>Sort by:</label>
        <%= select_tag 'sort_by', options_for_select(['Distance', 'Rate: lowest first', 'Rate: highest first'], selected: params[:sort_by]),  class: 'form-control distance_rate' %>
        
      </span>
      <% end %>
    </div> <!-- end of display_search_results -->
  </div> <!-- end of container-fluid main_page_search -->

  
    <div id="search_map"></div>
  	<div id="display_search_results">
      <div id="search_results_teachers_info">
        <% if @teachers == [] %>
          <%= render partial: 'partials/socials/no_results_share_buttons' %>
        <% else %>
        <div class="apple_pagination">
          <div class="page_info">
            <%= page_entries_info @teachers %>
          </div><!--  end of page_info -->
          <%= will_paginate @teachers, :container => false %>
        </div> <!-- end of apple_pagination -->
        
        
          <%= render partial: 'static/subjects_search', collection: @teachers, as: :teacher %>
        
  		
        <% end %>
      </div>
  	</div> <!-- end of display_search_results -->
  
</div> <!-- end of outer-container -->  