<div class="outer-container">
  <div class="col-md-7 col-md-12">
    <%= form_tag send_feedback_path, method: 'post' do %>
      <div class="form-group">
        <label for="feedbackName">Name:</label>
        <%= text_field_tag 'name', nil, class: 'form-control', id: 'feedbackName', placeholder: 'Enter name' %>
      </div> <!-- end of form-group -->
      <div class="form-group">
        <label for="feedbackEmail">Email:</label>
        <% if teacher_signed_in? %>
          <%= text_field_tag 'email', current_teacher.email, class: 'form-control', id: 'feedbackEmail', placeholder: 'Enter email' %>
        <% else %>
          <%= text_field_tag 'email', nil, class: 'form-control', id: 'feedbackEmail', placeholder: 'Enter email' %>
        <% end %>        
      </div> <!-- end of form-group -->
      <div class="form-group">
        <label for="feedbackSubject">Subject:</label>
        <%= text_field_tag 'subject', nil, class: 'form-control', id: 'feedbackSubject', placeholder: 'Enter subject' %>
      </div> <!-- end of form-group -->
      <div class="form-group">
        <%= text_area_tag 'feedback-info', nil, class: 'form-control', rows: 10 %>
      </div> <!-- end of form-group -->
      
      <%= submit_tag 'Submit', class: 'btn btn-success' %>
    <% end %>
  </div> <!-- end of col-md-7 col-md-12 -->
</div> <!-- end of outer-container -->