<div  class="container-fluid">
  <%= form_tag display_subjects_path, method: 'get', id: 'main_subject_search' do %>
    <%= text_field_tag :search_subjects, params[:search], placeholder: 'Subject name',autocomplete: :off %>
    <%= text_field_tag :search_position, params[:search], placeholder: 'County', autocomplete: :off %>
    <%= submit_tag 'Search', name: 'nil', id: 'search_submit' %>
  <% end %>
  <div id="display_search_results">

  </div>
</div> <!-- end of container-fluid -->

<div class="container">
	<div class="page-header center-block text-center"><h1><strong>How it works</strong></h1></div>
	<div class="row center-block">
		<div class="col-md-4">
			<%= image_tag 'how_it_works_map.jpg' %>
		</div>
			
		<div class="col-md-6">
			<h2>Select your teacher</h2>
			<p>We put you in control from the beginning. Select the subject you're interested in and we will give a list of instructors and their details. Using this information you can make an informed decsion on which instructor will suit you best.</p>
		</div> <!-- end of col-md-6 -->
	</div> <!-- end of row center-block -->

	<div class="row">
		<div class="page-header center-block text-center"><h1><strong>FAQs</strong></h1></div>
		<div class="col-md-6">
			<p><strong>How much do you charge for lessons?</strong></p>
			<p>Lesson prices are set by the instructor. The price will be displayed
				in the advertisement</p>
		</div> <!-- end of col-md-6 -->
		<div class="col-md-6">
			<p><strong>Can I pay the instructor in person?</strong></p>
			<p>You must pay for the lesson through the site.</p>
		</div> <!-- end of col-md-6 -->
	</div> <!-- end of row -->
</div> <!-- end of container -->