<% content_for :title, 'Connect with local students and teach what you love' %>
<% content_for :description, "Grow and market your teaching business in an online marketplace" %>


  <div class="row teach_page">    
    <div class="teachers_reg_photo">
      <div class="col-xs-12 col-sm-12 teacher_registration_container left">
        
        <div class="teachers_form_container">
          <h2 class="teachers_blurb_header">Grow and market your teaching business in an online marketplace</h2>
        <h4 class="teachers_blurb">Connect with local students and teach what you love</h4>
        <h4 class="teachers_blurb">Sign up to get notified when we launch</h4>
          <%= form_tag add_to_list_path, class: 'teacher_registration_form' do %>
          <div class="landing_page_container">
            <div class="input-group">
              <span class="input-group-addon glyphicon glyphicon-envelope"></span>
              
              <%= email_field_tag 'email',nil, size: 50,class: 'form-control', placeholder: 'Email' %>
              
            </div>
            <div class="input-group ">
              <span class="input-group-addon glyphicon glyphicon-user"></span>
              
              <%= text_field_tag 'name',nil, placeholder:'First name', size: 50, class: 'form-control' %>
              
            </div>
          </div>
                     
          
          <div >
            <%= submit_tag "Sign up", class: 'btn btn-success' %>
           
          </div>
        <% end %>
        </div>
        
        
      </div> <!-- end of  teacher_registration_container -->
      

    </div> <!-- end of teachers_reg_photo -->
  </div> <!-- end of row -->  


<div class="container-fluid teach_page_pros_container">
  <div class="row teach_page">
    <div class="col-md-4 col-sm-4 col-xs-12">
      <%= image_tag 'loud_speaker.jpg', alt: 'Create a free profile', class: 'img-responsive center' %>
    </div> <!-- end of col-md-4 -->
    <div class="col-md-8 col-sm-8 col-xs-12">
      <div class="center_text">
        <h1 class="teach_header"><strong>Create your free profile</strong></h1>
        <p class="center_text">Increase your reach and don't worry about finding new students.</p>
      </div> <!-- end of center_text -->
    </div> <!-- end of col-md-8 -->
  </div> <!--end of row teach_page -->
  <div class="row teach_page">
    <div class="col-md-8 col-sm-8 col-xs-12">
      <div class="center_text">
        <h1 class="teach_header"><strong>Manage your clients</strong></h1>
        <p class="center_text">Keep track of your students and lessons with our calendar and booking system.</p>
      </div> <!-- end of center_text -->
    </div> <!-- end of col-md-4 -->
    <div class="col-md-4 col-sm-4 col-xs-12">
      <%= image_tag 'calendar.jpg', alt: 'Manage your clients', class: 'img-responsive center' %>      
    </div> <!-- end of col-md-8 -->
  </div> <!--end of row teach_page -->
  <div class="row teach_page">
    <div class="col-md-4 col-sm-4 col-xs-12">
      <%= image_tag 'money_bags.jpg', alt: 'Increase your earnings', class: 'img-responsive center' %>
    </div> <!-- end of col-md-4 -->
    <div class="col-md-8 col-sm-8 col-xs-12">
      <div class="center_text">
        <h1 class="teach_header"><strong>Increase your earnings</strong></h1>
        <p class="center_text">Keep 100% of the lesson fee when booked through the website and 100% when booked with the student directly.</p>
      </div> <!-- end of center_text -->
    </div> <!-- end of col-md-8 -->
  </div> <!--end of row teach_page -->
</div> <!-- end of container-fluid teach_page_pros_container -->

<div class="container-fluid nopadding">
  <h1 class="teach_exp_header">How it works for the teacher</h1>
  <div class="teach_exp_table_container">
    <table class="table teach_exp_table">
      <tr>
        <td class="col-md-1">1</td>
        <td class="col-md-11">Create your profile in minutes</td>
      </tr>
      <tr>
        <td class="col-md-1">2</td>
        <td class="col-md-11">Make sure to sell yourself! Add in your pictures, location, experience and qualifications.
         Go on, brag about yourself, don't be shy!
        </td>
      </tr>
      <tr>
        <td class="col-md-1">3</td>
        <td class="col-md-11">Share the page and market yourself to the world, via Facebook, Twitter and LinkedIn.</td>
      </tr>
      <tr>
        <td class="col-md-1">4</td>
        <td class="col-md-11">Watch as the bookings roll in. Keep your students happy with timely communication and quality service and you will receive great reviews.</td>
      </tr>
  </table>
  </div>

</div> <!-- end of row -->