<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <h2><strong>Learn</strong></h2><span class="label label-primary">Register below to become a student</span>
      <%= form_for(:teacher, :url => registration_path(:teacher)) do |f| %>
       <%= devise_error_messages! %>

        <div><%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %></div>

        <div><%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off" %></div>

        <div><%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %></div>
          <%= f.hidden_field_tag name: 'is_teacher', value: false %>
        <div><%= f.submit "Sign up" %></div>
      <% end %>
    </div>
  </div>
</div>