<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 dual_registration_container left">
      <h2><strong>Learn</strong></h2><span class="label label-primary">Register below to become a student</span>
      <%= form_for(:user, :url => registration_path(:user)) do |f| %>
       <%= devise_error_messages! %>

        <div><%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %></div>

        <div><%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off" %></div>

        <div><%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

        <div><%= f.submit "Sign up" %></div>
      <% end %>
    </div>
    <div class="col-md-6 dual_registration_container right">
      <h2><strong>Teach</strong></h2><span class="label label-primary">Register below to become a teacher</span>
      <%= form_for(:teacher, :url => registration_path(:teacher)) do |f| %>
       <div><%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %></div>

        <div><%= f.label :first_name %> <br>
          <%= f.text_field :first_name %>
        </div>

        <div><%= f.label :last_name %> <br>
          <%= f.text_field :last_name %>
        </div>

        <div><%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off" %></div>

        <div><%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

        <div><%= f.submit "Sign up" %></div>
      <% end %>
    </div>
  </div>
</div>

<%# render "users/shared/links" %>
