<% content_for :head do %>
  <meta property="og:title"
  content="Workday Sets Price Range for I.P.O." />
  <meta property="og:site_name" content="www.learnyourlesson.ie"/>
  <meta property="og:url"
  content="<%= request.original_url %>" />
  <meta property="og:description" content="Workday, a provider of cloud-based
  applications for human resources, said on Monday that it would seek to price
  its initial public offering at $21 to $24 a share.  At the midpoint of that
  range, the offering would value the company at $3.6 billion. Like many other
  technology start-ups, Workday, founded in 2005, will have a dual-class share
  structure, with each Class B share having 10 votes. Its co-chief executives,
  David Duffield, the founder of PeopleSoft, and Aneel Bhusri, who was chief
  strategist at PeopleSoft, will have 67 percent of the voting rights after
  the I.P.O., according to the prospectus." />
  <meta property="og:type" content="article" />
  <meta property="og:image"
  content= "http://fathomless-wildwood-6928.herokuapp.com/assets/silhouette-ebed8878a5f8318d49bb55efa8cfc014.jpg" />
<% end %>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
<div  class="container-fluid main_page_search_container">
  <%= form_tag display_subjects_path, method: 'get', id: 'main_subject_search', class: 'form-inline' do %>
    <div class="form-group">
      <%= text_field_tag :search_subjects, params[:search], placeholder: 'Subject name', class: 'typeahead subject', autocomplete: :off %>
    </div>
    <div class="form-group">
      <%= text_field_tag :search_position, params[:search], placeholder: 'County', class: 'typeahead county', autocomplete: :off %>
    </div>
    <div class="container-fluid search_submit_container">
      <%= submit_tag "I'm ready to learn", name: 'nil', id: 'search_submit', class: 'btn btn-info' %>
    </div>
  <% end %>
  <div id="display_search_results">

  </div>
</div> <!-- end of container-fluid main_page_search -->

<div class="fb-share-button" data-href="<%= request.original_url %>"></div>
<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://fathomless-wildwood-6928.herokuapp.com" data-text="What do you want to learn today?">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>