<% content_for :head do %>
  <meta property="og:title"
  content="Find your perfect teacher" />
  <meta property="og:site_name" content="www.learnyourlesson.ie"/>
  <meta property="og:url"
  content="<%= request.original_url %>" />
  <meta property="og:description" content="What do you want to learn today?" />
  <meta property="og:type" content="article" />
  <meta property="og:image"
  content= "http://learn-your-lesson.herokuapp.com//assets/silhouette-ebed8878a5f8318d49bb55efa8cfc014.jpg" />
<% end %>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
<div  class="container-fluid main_page_search_container">
  <%= form_tag display_subjects_path, method: 'get', id: 'main_subject_search', class: 'form-inline' do %>
    <div class="form-group">
      <%= text_field_tag :search_subjects, params[:search], placeholder: 'What do you want to learn today?', class: 'typeahead form-control subject col-xs-12 col-md-12', autocomplete: :off %>
    </div>
    <div class="form-group">
      <%= text_field_tag :search_position, params[:search], placeholder: 'County', class: 'typeahead form-control county col-xs-12 col-md-12', autocomplete: :off %>
    </div>
    <div class="container-fluid search_submit_container">
      <%= submit_tag "I'm ready to learn",type: 'submit', name: 'nil', id: 'search_submit', class: 'btn' %>
    </div>
  <% end %>
  <div id="display_search_results">

  </div>
</div> <!-- end of container-fluid main_page_search -->

<div class="container-fluid stock_photos_container">
  <%= link_to display_subjects_path(search_subjects: 'guitar', search_position: ''), class: "stock_photo_container" do %>
    <%= image_tag "http://mrg.bz/UFUcCR", size: "125x125", class: 'stock_photo front' %>
    <%= image_tag 'view_more.png', size: '100x50', class: 'pull-left results_photos back' %>
  <% end %> 
</div> <!-- end of stock_photos_container -->

<div class="fb-share-button" data-href="<%= request.original_url %>"></div>
<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://fathomless-wildwood-6928.herokuapp.com" data-text="What do you want to learn today?">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>