<% content_for :head do %>
  <meta property="og:title"
  content="Find your perfect teacher" />
  <meta property="og:site_name" content="www.learnyourlesson.ie"/>
  <meta property="og:url"
  content="<%= request.original_url %>" />
  <meta property="og:description" content="What do you want to learn today?" />
  <meta property="og:type" content="article" />
  <meta property="og:image"
  content= "http://learn-your-lesson.herokuapp.com//assets/silhouette-ebed8878a5f8318d49bb55efa8cfc014.jpg" />
<% end %>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
<div  class="container-fluid main_page_search_container">
  <div class="welcome_page_form__header welcome_sprinkles_hidden">
    <h1>Your place to connect with local teachers <br><small>on guitar, yoga, languages or anything else</small></h1>
  </div> <!-- end of welcome_page_form__header -->

  <%= form_tag display_subjects_path, method: 'get', id: 'main_subject_search', :utf8_enforcer_tag => false, class: 'form-inline' do %>
    <div class="form-group">
      <%= text_field_tag :search_subjects, params[:search], :utf8_enforce_tag => false,placeholder: 'What do you want to learn today?', class: 'typeahead form-control subject col-xs-12 col-md-12', autocomplete: :off %>
    </div>
    <div class="form-group">
      <%= text_field_tag :search_position, params[:search], placeholder: 'County', class: 'typeahead form-control county col-xs-12 col-md-12', autocomplete: :off %>
    </div>
    <div class="container-fluid search_submit_container">
      <%= submit_tag "I'm ready to learn",type: 'submit', name: 'submit', id: 'search_submit', class: 'btn' %>
    </div>
  <% end %>
  <div class="container-fluid welcome_prompt_container welcome_sprinkles">
    <div class="col-md-4 welcome_page_prompts"><h4>&bull; Connect with local <br>teachers one to one</h4></div>
    <div class="col-md-4 welcome_page_prompts"><h4>&bull; Choose from hundreds of skills</h4></div>
    <div class="col-md-4 welcome_page_prompts"><h4>&bull; Book online lessons with confidence</h4></div>
  </div> <!-- end of welcome_prompt_container -->

  <div class="browse_topics">
    <ul class="list-inline">
      <li>Browse:</li>
      <li class="browse_option btn btn-success" id="popular">Popular</li>
      <li class="browse_option" id="music">Music</li>
      <li class="browse_option" id="language">Language</li>
      <li class="browse_option" id="academic">Academic Grinds</li>
    </ul>
  </div>
  
  <div id="display_search_results">

  </div> <!-- end of display_search_results -->
</div> <!-- end of container-fluid main_page_search -->

<div class="container-fluid stock_photos_container hidden-sm">
  <div class="row subject_pic_row">
    <div class="col-md-3 col-sm-6 subject_pic_container">
      <div id="guitar">
        <%= link_to display_subjects_path(search_subjects: 'guitar', search_position: ''), class: 'stock_photo_container' do %>
          <%= image_tag 'view-more.png', class: 'welcome_subject_image' %>
        <% end %>
      </div><!-- end of guitar -->
    </div> <!-- end of subject_pic_container -->
    <div class="col-md-3 col-sm-6 subject_pic_container">
      <div id="drums">
        <%= link_to display_subjects_path(search_subjects: 'drums', search_position: ''), class: 'stock_photo_container' do %>
        <%= image_tag 'view-more.png', class: 'welcome_subject_image' %>
      <% end %>
      </div><!-- end of drums -->
    </div> <!-- end of subject_pic_container -->
    <div class="col-md-3 col-sm-6 subject_pic_container">
      <div id="piano">
        <%= link_to display_subjects_path(search_subjects: 'piano', search_position: ''), class: 'stock_photo_container' do %>
        <%= image_tag 'view-more.png', class: 'welcome_subject_image' %>
      <% end %>
      </div><!-- end of piano -->
    </div> <!-- end of subject_pic_container -->

  </div> <!-- end of subject_pic_row -->
  
  <div class="row subject_pic_row">
    <div class="col-md-3 subject_pic_container">
      <div id="french">
        <%= link_to display_subjects_path(search_subjects: 'french', search_position: ''), class: "stock_photo_container" do %>
          
          <%= image_tag 'view-more.png', class: 'welcome_subject_image' %>
        <% end %>
      </div><!-- end of french -->      
    </div> <!-- end of subject_pic_container -->
    <div class="col-md-3 subject_pic_container">
      <div id="italian">
        <%= link_to display_subjects_path(search_subjects: 'italian', search_position: ''), class: "stock_photo_container" do %>
          
          <%= image_tag 'view-more.png', class: 'welcome_subject_image' %>
        <% end %>
      </div><!-- end of italian -->      
    </div> <!-- end of subject_pic_container -->
    <div class="col-md-3 subject_pic_container">
      <div id="german">
        <%= link_to display_subjects_path(search_subjects: 'german', search_position: ''), class: "stock_photo_container" do %>
          
          <%= image_tag 'view-more.png', class: 'welcome_subject_image' %>
        <% end %>
      </div><!-- end of german -->      
    </div> <!-- end of subject_pic_container -->
  </div><!-- end of subject_pic_row -->
</div> <!-- end of stock_photos_container -->
