 <%= @params %><br>

<% @teachers.each do |teacher| %>
	<div class="row search_results_row">
		<div class="col-md-9 search_results_left nopadding">
			<%= image_tag Photo.find(teacher.profile).avatar.url, size: '100x100', class: 'pull-left results_photos' %>
			<%= teacher.subjects.first.name %><br>
			<%= teacher.address %>
		</div>
		<div class="col-md-3 search_restuls_right">
			Price: <br><%= number_to_currency(teacher.rate,unit:'€') %>
		</div>
	</div> <!-- end of row -->

<% end %>


