 <%= @params %><br>

<% @teachers.each do |teacher| %>
	<div class="row search_results_row">
		<div class="col-md-9 search_results_left nopadding">

			<a href="http://www.google.com" class="image_container">
				<%= silhouette_helper(teacher) %>				
			</a>

			<%= teacher.subjects.first.name %><br>
			<%= teacher.address %>
		</div>
		<div class="col-md-3 search_restuls_right">
			Price: <br><%= number_to_currency(teacher.rate,unit:'€') %>
		</div>
	</div> <!-- end of row -->

<% end %>


