
<div class="container-fluid teacher_edit_profile">
	<div class="row">
		
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading teachers_info"><h2 class="panel-title pull-left">Your info</h2>
					<div class="btn-group pull-right">            
		       	<button class="btn btn-default" data-toggle="modal" data-target="#teachers_info_modal"><span class="glyphicon glyphicon-pencil"></span>Edit</button>
		      </div> <!-- end of btn-group pull-right -->
				</div> <!-- end of panel_heading -->
				<div class="panel-body">
					<div class="row">
					  <div class="col-xs-6 col-md-3">
					    <a href="#" class="thumbnail" data-toggle="modal" data-target="#teachers_dropzone_modal">
					    	<%= show_teacher_silhouette_helper(@context)  %>
					      
					    </a> 
					  </div> <!-- end of col-xs-6 col-md-3 -->
					  <div class="col-md-6">
					  	<div class="row">
					  		<span class="col-md-3">Name:</span><span class="col-md-9"><%= @context.first_name %></span>
								<span class="col-md-3">Surname:</span><span class="col-md-9"><%= @context.last_name %></span>
								
								<span class="col-md-3">Email:</span><span class="col-md-9"><%= @context.email %></span>
								<span class="col-md-3">Address:</span ><span class="col-md-9"><%= @context.address %></span>
					  	</div>
					  </div><!--  end of col-md-6 -->
					</div> <!-- end of row -->
					
				</div> <!-- end of panel-body -->
			</div> <!-- end of panel panel-default -->
		</div> <!-- end of col-md-10 -->
	</div> <!-- end of row -->
</div> <!-- end of teacher_edit_profile -->

<div class="container-fluid">
	<div class="row">
		
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading teachers_info"><h2 class="panel-title pull-left">What do you teach?</h2>
					<div class="btn-group pull-right">            
		       	<button class="btn btn-default" data-toggle="modal" data-target="#teachers_subjects_modal"><span class="glyphicon glyphicon-search"> </span> Search</button>
		      </div> <!-- end of btn-group pull-right -->
				</div> <!-- end of panel heading -->

			<div class="panel-body">
				<ul class="list-group" id="list_teachers_subjects">
					<%= render partial: 'partials/list_teachers_subjects', collection: @subjects, as: :subject %>
				</ul>
			</div>
		</div> <!-- end of panel default -->
		</div>
	</div>
	
</div> <!-- end of container fluid -->

<!-- start of profile picture panel -->
<div class="container-fluid">
	<div class="row">
		
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading teachers_info"><h2 class="panel-title pull-left">Photos of you</h2>
					<div class="btn-group pull-right">            
		       	<button class="btn btn-default" data-toggle="modal" data-target="#teachers_dropzone_modal"><span class="glyphicon glyphicon-pencil"></span>Edit</button>
		      </div> <!-- end of btn-group pull-right -->
				</div> <!-- end of panel heading -->

			<div class="panel-body">
				<%= render @photos %>
			</div>
		</div> <!-- end of panel default -->
		</div>
	</div>
	
</div> <!-- end of container fluid -->
<!-- end of profile picture panel -->
<div class="container-fluid">
	<div class="row">
		
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading teachers_info"><h2 class="panel-title pull-left">Your Experience</h2>
					<div class="btn-group pull-right">            
		       	<button class="btn btn-default" data-toggle="modal" data-target="#teachers_experience_modal"><span class="glyphicon glyphicon-pencil"></span>Edit</button>
		      </div> <!-- end of btn-group pull-right -->
				</div> <!-- end of panel heading -->
				<div class="panel-body">
					<ul class="list-group">			
						<%= render partial: 'partials/experience', collection: @experiences %>
					</ul>
				</div> <!-- end of panel-body -->
			</div> <!-- end of panel panel-default -->
		</div> <!-- end of col-md-10 -->
	</div> <!-- end of row -->
</div> <!-- end of container-fluid -->

<div class="container-fluid">
	<div class="row">
		
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading teachers_info"><h2 class="panel-title pull-left">About you</h2>
					<div class="btn-group pull-right">            
		       	<button class="btn btn-default" data-toggle="modal" data-target="#teacher_about_you_modal"><span class="glyphicon glyphicon-pencil"></span>Edit</button>
		      </div> <!-- end of btn-group pull-right -->
				</div> <!-- end of panel heading -->
				<!-- <div class="panel-body">
					
				</div>  end  of panel-body -->
				<ul class="list-group clearfix">
					<li class="list-group-item"><%= @context.overview %></li>
					<li class="list-group-item">
						Your rate: <span class="pull-right"><%= current_teacher.rate == nil ? "No price set yet" : number_to_currency(@context.rate,unit:'€') %></span>
					</li>
				</ul>
			</div> <!-- end of panel panel-default -->
		</div> <!-- end of col-md-12 -->
	</div> <!-- end of row -->
</div> <!-- end of container-fluid -->

<div class="container-fluid">
	<div class="row">
		
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading teachers_info"><h2 class="panel-title pull-left">Payment choices</h2>
					<div class="btn-group pull-right">            
		       	<button class="btn btn-default" data-toggle="modal" data-target="#teacher_select_payment"><span class="glyphicon glyphicon-credit-card"></span> Edit</button>
		      </div> <!-- end of btn-group pull-right -->
				</div> <!-- end of panel heading -->
				<div class="panel-body">
					<div class="well well-lg">We offer 2 choices for payment. <%= link_to 'Paypal', 'https://www.paypal.com/' %> and <%= link_to 'Stripe', 'https://stripe.com/ie' %>. We will not keep any of your money or credit card details. To avail of these payment options you must sign up to these services as a merchant. You can chose either or both.</div>
				</div>  <!-- end  of panel-body -->
				<ul class="list-group">
					<li class="list-group-item">Paypal: <span class="pull-right"><%= current_teacher.paypal_email %></span></li>
					<li class="list-group-item">Stripe: <span class="pull-right"><%= current_teacher.stripe_access_token %></span></li>
				</ul>
			</div> <!-- end of panel panel-default -->
		</div> <!-- end of col-md-12 -->
	</div> <!-- end of row -->
</div> <!-- end of container-fluid -->






<%= render 'modals/teacher_photos_dropzone' %>
<%= render 'modals/teacher_info_form' %>
<%= render 'modals/teacher_experience_form' %>
<%= render 'modals/teacher_about_you_form' %>
<%= render 'modals/teachers_subjects_form' %>
<%= render 'modals/teacher_select_payment' %>



