<div class="container-fluid teacher_edit_profile">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-10">
			<div class="panel panel-default">
				<div class="panel-heading teachers_info"><h2 class="panel-title">Your info</h2>
					<div class="btn-group pull-right">            
		       	<button class="btn btn-default" data-toggle="modal" data-target="#teachers_info_modal"><span class="glyphicon glyphicon-pencil"></span>Edit</button>
		      </div>
				</div> <!-- end of panel_heading -->
				<div class="panel-body">
					<div class="row">
					  <div class="col-xs-6 col-md-3">
					    <a href="#" class="thumbnail" data-toggle="modal" data-target="#teachers_info_modal">
					    	<%= (!@context.photos.first.avatar.blank?) ? image_tag(@context.photos.first.avatar.url) : image_tag('silhouette.jpg')  %>
					      
					    </a>
					  </div>
					</div>
					<p><span class="col-md-3">Name:</span><span class="col-md-9"><%= @context.first_name %></span></p>
					<p><span class="col-md-3">Surname:</span><span class="col-md-9"><%= @context.last_name %></span></p>
					<p><span class="col-md-3">Address:</span ><span class="col-md-9"><%= @context.address %></span></p>
					<p><span class="col-md-3">Email:</span><span class="col-md-9"><%= @context.email %></span></p>
				</div>
			</div>
		</div>
	</div>
</div>


<hr>
<div class="container-fluid">
	<% if @photos != [] %>
	<div class="row">
		
		<h2>Uploaded photos</h2>
		<%= render @photos %>
	</div> <!-- end of row -->
	<% else %>
		<div class="row">
		  <div class="col-xs-6 col-md-3 first_thumbnail">
		    <a href="#" class="thumbnail">
		      <img data-src="holder.js/100%x180" alt="...">

		    </a>
		    <span data-dz-name></span>
		  </div>
		  
		  
		  <div class="col-xs-6 col-md-3">
		    <a href="#" class="thumbnail ">
		      <img data-src="holder.js/100%x180" alt="...">
		    </a>
		  </div>
			<div class="col-xs-6 col-md-3">Your uploaded photos will appear here</div>
			
		</div>

	<% end %>
</div>

<%= render 'modals/teacher_photos_dropzone' %>




