s<div class="outer-container">
	<% cache [@context, 'profile'] do %>	
		<div class="container-fluid teacher_edit_profile">
			<div class="row">
				
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading teachers_info"><h2 class="panel-title pull-left">Your info</h2>
							<div class="btn-group pull-right">            
				       	<button class="btn btn-default" data-toggle="modal" data-target="#teachers_info_modal"><span class="glyphicon glyphicon-pencil"></span>Edit</button>
				      </div> <!-- end of btn-group pull-right -->
						</div> <!-- end of panel_heading -->
						<div class="panel-body">
							<div class="row">
							  <div class="col-xs-6 col-md-3">
							    <a href="#" class="teacher_profile_pic_link" data-toggle="modal" data-target="#teachers_dropzone_modal">
							    	<%= show_teacher_silhouette_helper(@context) %> <%# application helper %>
							      
							    </a> 
							  </div> <!-- end of col-xs-6 col-md-3 -->
							  <div class="col-md-6">
							  	<div class="row">
							  		<div class="table-responsive">
							  			<table class="table table-hover">
							  				<tr>
							  					<td>Name:</td>
							  					<td><%= @context.first_name %></td>
							  				</tr>
							  				<tr>
							  					<td>Surname:</td>
							  					<td><%= @context.last_name %></td>
							  				</tr>
							  				<tr>
							  					<td>Email:</td>
							  					<td><%= @context.email %></td>
							  				</tr>
							  			</table>
							  		</div> <!-- end of table-responsive -->
							  	</div> <!-- end or row -->
							  </div><!--  end of col-md-6 -->
							</div> <!-- end of row -->
							
						</div> <!-- end of panel-body -->
					</div> <!-- end of panel panel-default -->
				</div> <!-- end of col-md-10 -->
			</div> <!-- end of row -->
		</div> <!-- end of teacher_edit_profile -->
	<% end %> <%# end of profile cache %>

	<% cache [@context, 'subjects'] do %>
		<div class="container-fluid">
			<div class="row">
				
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading teachers_info"><h2 class="panel-title pull-left">What do you teach?</h2>
							<div class="btn-group pull-right">            
				       	<button class="btn btn-default" data-toggle="modal" data-target="#teachers_subjects_modal"><span class="glyphicon glyphicon-search"> </span> Search</button>
				      </div> <!-- end of btn-group pull-right -->
						</div> <!-- end of panel heading -->

					<div class="panel-body">
						<ul class="list-group" id="list_teachers_subjects">
							<%= render partial: 'partials/list_teachers_subjects', collection: @subjects, as: :subject %>
						</ul>
					</div>
				</div> <!-- end of panel default -->
				</div>
			</div>
			
		</div> <!-- end of container fluid -->
	<% end %> <%# end of subjects cache %>

	<!-- start of profile picture panel -->

		<div class="container-fluid">
			<div class="row">
				
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading teachers_info"><h2 class="panel-title pull-left">Photos of you</h2>
							<div class="btn-group pull-right">            
				       	<button class="btn btn-default" data-toggle="modal" data-target="#teachers_dropzone_modal"><span class="glyphicon glyphicon-camera"></span> Add photo</button>
				      </div> <!-- end of btn-group pull-right -->
						</div> <!-- end of panel heading -->

					<div class="panel-body">
						<%= render @photos %>
					</div> <!-- end of panel-body -->
					<div class="panel-footer teacher_photos_footer">
						Click on photos for more options
					</div>
				</div> <!-- end of panel default -->
				</div>
			</div>
			
		</div> <!-- end of container fluid -->

	<!-- end of profile picture panel -->

	<% cache [@context, 'experience'] do %>
		<div class="container-fluid">
			<div class="row">
				
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading teachers_info"><h2 class="panel-title pull-left">Your Experience</h2>
							<div class="btn-group pull-right">            
				       	<button class="btn btn-default" data-toggle="modal" data-target="#teachers_experience_modal"><span class="glyphicon glyphicon-pencil"></span>Edit</button>
				      </div> <!-- end of btn-group pull-right -->
						</div> <!-- end of panel heading -->
						<div class="panel-body">
							<ul class="list-group">			
								<%= render partial: 'partials/experience', collection: @context.experiences %>
							</ul>
						</div> <!-- end of panel-body -->
					</div> <!-- end of panel panel-default -->
				</div> <!-- end of col-md-10 -->
			</div> <!-- end of row -->
		</div> <!-- end of container-fluid -->
	<% end %> <%# end of experienc cache %>

	<% cache [@context, 'overview'] do %>
		<div class="container-fluid">
			<div class="row">
				
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading teachers_info"><h2 class="panel-title pull-left">About you</h2>
							<div class="btn-group pull-right">            
				       	<button class="btn btn-default" data-toggle="modal" data-target="#teacher_about_you_modal"><span class="glyphicon glyphicon-pencil"></span>Edit</button>
				      </div> <!-- end of btn-group pull-right -->
						</div> <!-- end of panel heading -->
						<!-- <div class="panel-body">
							
						</div>  end  of panel-body -->
						<ul class="list-group clearfix">
							<% if !@context.overview.empty? %>
								<li class="list-group-item"><%= @context.overview %></li>
							<% else %>
								<li class="list-group-item">Please fill in your overview</li>
							<% end %>
							
							
						</ul>
					</div> <!-- end of panel panel-default -->
				</div> <!-- end of col-md-12 -->
			</div> <!-- end of row -->
		</div> <!-- end of container-fluid -->
	<% end %> <%# end of overview cache %>

	<% cache [@context, 'payments'] do %>
		<div class="container-fluid">
			<div class="row">
				
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading teachers_info"><h2 class="panel-title pull-left">Payment choices</h2>
							<div class="btn-group pull-right">            
				       	<button class="btn btn-default" data-toggle="modal" data-target="#teacher_select_payment"><span class="glyphicon glyphicon-credit-card"></span> Edit</button>
				      </div> <!-- end of btn-group pull-right -->
						</div> <!-- end of panel heading -->
						<div class="panel-body">
							<div class="well well-lg">We offer 2 choices for payment. <%= link_to 'Paypal', 'https://www.paypal.com/' %> and <%= link_to 'Stripe', 'https://stripe.com/ie' %>. We will not keep any of your money or credit card details. To avail of these payment options you must sign up to these services as a merchant. You can chose either or both. <br>For paypal all we need is the email address you log into paypal with. For stripe you must click on the stripe registration button and allow us to add you as a client. Click the edit button above or <%= link_to 'here', '#', data: { toggle: 'modal', target: '#teacher_select_payment'} %> to get started!</div> <!-- end of well well-lg -->
						</div>  <!-- end  of panel-body -->
						<ul class="list-group">
							<% if !current_teacher.paypal_email.blank? %>
							<li class="list-group-item clearfix list-group-item-success">Paypal email: <span class="pull-right"><%= current_teacher.paypal_email %></span></li>
							<% else %>
								<li class="list-group-item clearfix list-group-item-danger">Paypal: <span class="pull-right"><strong>Paypal email not set</strong></span></li>
							<% end %>

							<% if !current_teacher.stripe_access_token.blank? %>
								<li class="list-group-item clearfix list-group-item-success"><span>Stripe access token:</span> <span class="pull-right">Registered on stripe</span></li>
							<% else %>
								<li class="list-group-item clearfix list-group-item-danger"><span>Stripe:</span> <span class="pull-right"><strong>Not registered on Stripe </strong></span></li>
							<% end %>
							
						</ul>
					</div> <!-- end of panel panel-default -->
				</div> <!-- end of col-md-12 -->
			</div> <!-- end of row -->
		</div> <!-- end of container-fluid -->
	<% end %>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h2 class="panel-title">Authentication methods</h2>
					</div> <!-- end of panel-heading -->
					<div class="panel-body">
						
						<div class="row">
							<div class="col-xs-3">
		      			<%= image_tag('facebook_login.jpg', class: 'img-responsive') %>
		      			
		      		</div> <!-- end of col-xs-3 -->
		      		<div class="col-xs-3">
		            <%= image_tag('google_login.jpg', class: 'img-responsive') %>
		            
		          </div> <!-- end of col-xs-3 -->
		          <div class="col-xs-3">
		      			<%= image_tag('twitter.jpg', class: 'img-responsive') %>
		      			
		      		</div> <!-- end of col-xs-3 -->
		      		<div class="col-xs-3">
		      			<%= image_tag('linkedin-logo.jpg', class: 'img-responsive') %>
		      			
		      		</div> <!-- end of col-xs-3 -->
						</div> <!-- end of row -->
						<div class="row">
							<% @auths.each do |auth| %>
								<div class="col-xs-3">
									<% if ident = @context.identities.find { |ident| ident.provider == auth } %>
										<%= get_auth_delete_links(ident) %>
									<% else %>
										<%= get_auth_add_links(auth) %>
									<% end %>
								</div>
							<% end %>
						</div>
					</div> <!-- end of panel-body -->
				</div> <!-- end of panel panel-default -->
			</div> <!-- end of col-md-12 -->
		</div> <!-- end of row -->
	</div> <!-- end of container-fluid -->
</div>


<%= render 'modals/teacher_photos_dropzone' %>
<%= render 'modals/teacher_info_form' %>
<%= render 'modals/teacher_experience_form' %>
<%= render 'modals/teacher_about_you_form' %>
<%= render 'modals/teachers_subjects_form' %>
<%= render 'modals/teacher_select_payment' %>