<div class="container-fluid " id="qual_container">
	
	<div class="col-md-12" id="qual_head">
		<h2>Qualifications</h2>
	
	</div>
	
	<div class="col-md-3" id="qual_left"></div>
	<div class="col-md-9" id="qual_form">
			<%= form_for [@context, @qualification], html: { class: 'form-horizontal' } do |f| %>
				<div class="form-group">
					<label class="control-label col-sm-2">Title:</label>
					<div class="col-sm-10">
			      <%= f.text_field :title, placeholder: 'Qualification name?', class: "form-control" %>
			    </div> <!-- end of col-sm-10 -->
				</div> <!-- end of form-group -->
				<div class="form-group">
					<label class="control-label col-sm-2">School:</label>
					<div class="col-sm-10">
						<%= f.text_field :school, placeholder: 'Whered did you study?', class: 'form-control' %>
					</div>
				</div> <!-- end of form-group -->
				<div class="form-group">
					<label class="control-label col-sm-2">From:</label>
					<%= f.date_select :start,:order => [:year, :month], start_year: 1950, class: 'form-control' %>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2">To:</label>
					<%= f.date_select :end,:order => [:year, :month], start_year: 1950,  class: 'form-control' %>
				</div>
				<%= f.hidden_field :teacher_id, value: current_teacher.id %>
				<div class="form-group">
					<%= f.submit id: 'qual_submit' %>
				</div>
			<% end %>
	</div>
	
</div>
<hr>
<div class="container-fluid">
	<% if @qualifications.length != 0 %>
		<%= render @qualifications %>
	<% else %>
		<h2>Your qualifications will appear here </h2>
	<% end %>
</div>

<hr>
<div id="teacherSetupNav" class="row col-md-12" >
	<div class="col-md-10 col-md-offset-2">
		<%= button_to edit_teacher_path(current_teacher), method: 'get', class: 'btn center-block lower_nav_buttons current_page' do %>
			Edit profile <span class="glyphicon glyphicon-circle-arrow-up"></span>
		<% end %>
		<%= button_to qualification_form_teacher_path(current_teacher.id), method: 'get', class: 'btn btn-success center-block lower_nav_buttons' do %>
			Qualifications <span class="glyphicon glyphicon-circle-arrow-right"></span>
		<% end %>
		<%= button_to your_location_teacher_path(current_teacher), method: 'get', class: 'btn btn-success center-block lower_nav_buttons' do %>
			Where are you? <span class="glyphicon glyphicon-circle-arrow-right"></span>
		<% end %>
		<%= button_to teachers_area_teacher_path(current_teacher), method: 'get', class: 'btn btn-success center-block lower_nav_buttons' do %>
			Your work area <span class="glyphicon glyphicon-circle-arrow-right"></span>
		<% end %>
	</div>
</div>