
<%= include_gon %><br>

<div class="row">
  
</div>

<%# http://fotorama.io/set-up/ %>

<div class="row">

</div>
<script>
  fotoramaDefaults = {
    width: 700,
    maxwidth: '100%',
    ratio: 16/9,
    allowfullscreen: true,
    nav: 'thumbs',
    height: 700
  }
</script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.3/fotorama.js"></script>

<div class="row">  
  <div class="col-md-12 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading"><%= @teacher.first_name %><%= image_tag Photo.find(@teacher.profile).avatar.url(:thumb) %></div>
      <div class="panel-body">
        <div class="col-xs-6">
          <div class="fotorama" data-navposition="bottom" data-transition="crossfade" data-autoplay="true" data-nav="thumbs">
            <% @photos.each do |p| %>
              <%= image_tag p.avatar.url, size: '300x300' %>
            <% end %>
          </div> <!-- end of fotrama -->
        </div> <!-- end of col-xs-6 -->
        <div class="col-xs-6">
          
          <div class="media">
            <span class="pull-left"><%= show_teacher_silhouette_helper(@teacher) %> </span>     
            <div class="media-body">
              
              <%= @teacher.overview %><br>
            </div> <!-- end of media-body -->
          </div> <!-- end of media -->
        </div> <!-- end of col-xs-6 -->
      </div> <!-- end of panel-body -->
    </div> <!-- end of panel panel-default -->

    <div class="row show_teacher">
      <div class="col-md-12">
        <div role="tabpanel">
          <ul class="nav nav-tabs" role="tablist">
            <%= render partial: 'partials/show_teacher/show_teacher_maps_li_tags', collection: @locations, as: :location %>
          </ul> <!-- emd of nav nav-tabs -->
          <div class="tab-content">
            <%= render partial: 'partials/show_teacher/show_teacher_maps_tabs', collection: @locations, as: :location %>
          </div> <!-- end of tab-content -->
        </div> <!-- end of tabpanel -->
      </div>
    </div> <!-- end of row -->
        
    <% if !@teacher.experiences.empty? %>
      <div class="panel panel-default">
        <div class="panel-heading teachers_info"><h2 class="panel-title pull-left">Experience</h2>
          
        </div> <!-- end of panel heading -->
        <div class="panel-body">
          <ul class="list-group">     
            <%= render partial: 'partials/experience', collection: @teacher.experiences %>
          </ul>
        </div> <!-- end of panel-body -->
      </div> <!-- end of panel panel-default -->
    <% end %>


    <% if !@teacher.qualifications.empty? %>
      <div class="container-fluid nopadding">
        <div class="panel panel-default">
          <div class="panel-heading teachers_info"><h2 class="panel-title pull-left">Education</h2>
          
          </div> <!-- end of panel heading -->

          <div class="panel-body">
            <ul class="list-group">
              <%= render partial: 'partials/teachers_qualification', collection: @teacher.qualifications, as: :qualification %>
            </ul> <!-- end of list-group -->
          </div> <!-- end of panel-body -->
        </div> <!-- end of panel-default -->
        
      </div> <!-- end of container-fluid -->
    <% end %>

    <% if !@teacher.reviews.empty? %>
      <div class="container-fluid nopadding">
        <table class="table table-bordered">
          <thead class="table_header">
            <tr>
              <th class="col-md-8">Review</th>
              <th>When</th>
            </tr>
          </thead>
          <tbody>
            <%= render partial: 'partials/review_row_partial', collection: @teacher.reviews, as: :review %>
          </tbody>
        </table>

      </div> <!-- end of container fluid -->
    <% end %>
    
  </div> <!-- end of col-md-6 -->


  <div class="col-md-12">
    <!-- <div id="teacher_display_map">
    </div> --> <!-- end of teacher_display_map -->
    <div id="scheduler_here" class="dhx_cal_container teachers_display_scheduler" >
      <div class="dhx_cal_navline" >
          <div class="dhx_cal_prev_button">&nbsp;</div>
          <div class="dhx_cal_next_button">&nbsp;</div>
          <div class="dhx_cal_date display_teachers_cal_date pull-left" id="display_teachers_cal_date"></div>
          
      </div> <!-- end of dhx_cal_navline -->
      <div class="dhx_cal_header"></div>
      <div class="dhx_cal_data"></div>       
    </div> <!-- end of scheduler_here -->   
  </div> <!-- end of col-md-4 -->
</div> <!-- end of row -->

<%= render 'modals/payment_choice_modal' %>