<%= content_for :title,  @teacher.full_name %>
<%= include_gon %><br>
 <style>
  .profile_pic_container{
    background-image: url(<%= Photo.find(@teacher.profile).avatar.url %>);
    min-height: 300px;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    
    margin-bottom: 20px;
  }
</style>

<%# http://fotorama.io/set-up/ %>

<div class="row show_teacher_profile_container">  
  <div class="col-sm-9 nopadding">    
    <div class="row show_teacher">
      <div class="col-xs-12">
        <div role="tabpanel">
          <ul class="nav nav-tabs" role="tablist">
            <%= render partial: 'partials/show_teacher/show_teacher_maps_li_tags', collection: @locations, as: :location %>
          </ul> <!-- emd of nav nav-tabs -->
          <div class="tab-content">
            <%= render partial: 'partials/show_teacher/show_teacher_maps_tabs', collection: @locations, as: :location %>
          </div> <!-- end of tab-content -->
        </div> <!-- end of tabpanel -->
      </div> <!-- end of col- -->
      
    </div> <!-- end of row show_teacher -->
  </div> <!-- end of col-sm-9 -->
  <div class="col-sm-3 col-xs-12 show_teacher_profile_section nopadding">
    
    <div class="col-xs-12 profile_pic_container">
      <%# image_tag Photo.find(@teacher.profile).avatar.url, class: 'pull-left img-responsive', size:'150x150' %>
      <p class="pull-left teachers_name"><%= @teacher.full_name %></p>

    </div>
   
    <table class="table table-bordered table-striped table-hover">
      <tr>
        <td>Overview: </td>
        <td><%= @teacher.overview %></td>        
      </tr>
      <tr>
        <td>Address: </td>
        <td><%# @teacher. %></td>
      </tr>
    </table>
  </div> <!-- end of show_teacher_profile_section -->  
  
</div> <!-- end of row show_teacher_profile_container -->


<div class="row">  
  <div class="col-md-12 col-xs-12 nopadding">   
        
    <% if !@teacher.experiences.empty? %>
    <div class="row">
      <div class="col-sm-8 col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading teachers_info"><h2 class="panel-title pull-left">Experience</h2>
            
          </div> <!-- end of panel heading -->
          <div class="panel-body">
            <ul class="list-group">     
              <%= render partial: 'partials/experience', collection: @teacher.experiences %>
            </ul>
          </div> <!-- end of panel-body -->
        </div> <!-- end of panel panel-default -->
      </div>
      <div class="col-sm-4 col-xs-12">
          
          <div class="fotorama col-xs-12 nopadding white_back">
            <% @photos.each do |p| %>
              <%= image_tag p.avatar.url,  class: 'img-responsive' %>
            <% end %>
          </div> <!-- end of fotrama -->
        
      </div>
    </div>
      
    <% end %>


    <% if !@teacher.qualifications.empty? %>
      <div class="container-fluid nopadding">
        <div class="panel panel-default">
          <div class="panel-heading teachers_info"><h2 class="panel-title pull-left">Education</h2>
          
          </div> <!-- end of panel heading -->

          <div class="panel-body">
            <ul class="list-group">
              <%= render partial: 'partials/teachers_qualification', collection: @teacher.qualifications, as: :qualification %>
            </ul> <!-- end of list-group -->
          </div> <!-- end of panel-body -->
        </div> <!-- end of panel-default -->
        
      </div> <!-- end of container-fluid -->
    <% end %>

    <% if !@teacher.reviews.empty? %>
      <div class="container-fluid nopadding">
        <table class="table table-bordered">
          <thead class="table_header">
            <tr>
              <th class="col-md-8">Review</th>
              <th>When</th>
            </tr>
          </thead>
          <tbody>
            <%= render partial: 'partials/review_row_partial', collection: @teacher.reviews, as: :review %>
          </tbody>
        </table>

      </div> <!-- end of container fluid -->
    <% end %>
    
  </div> <!-- end of col-md-6 -->


  <div class="col-md-12 col-xs-12 nopadding">
    <!-- <div id="teacher_display_map">
    </div> --> <!-- end of teacher_display_map -->
    <div id="scheduler_here" class="dhx_cal_container teachers_display_scheduler" >
      <div class="dhx_cal_navline" >
          <div class="dhx_cal_prev_button">&nbsp;</div>
          <div class="dhx_cal_next_button">&nbsp;</div>
          <div class="dhx_cal_date display_teachers_cal_date pull-left" id="display_teachers_cal_date"></div>
          
      </div> <!-- end of dhx_cal_navline -->
      <div class="dhx_cal_header"></div>
      <div class="dhx_cal_data"></div>       
    </div> <!-- end of scheduler_here -->   
  </div> <!-- end of col-md-4 -->
</div> <!-- end of row -->

<%= render 'modals/payment_choice_modal' %>