<%= include_gon %>  
<%= content_for :title,  @teacher.full_name %>

<% cache [@teacher, @profilePic, @photos] do %>
<div class="outer-container">


  <script src="https://checkout.stripe.com/checkout.js"></script>

  <div class="row show_teacher_profile_container">

    <div class="col-sm-9 mob_no_padding">    
        <div class="col-xs-12 mob_no_padding nopadding">
          <div role="tabpanel">
            <ul class="nav nav-tabs" role="tablist">
              <%= render partial: 'partials/show_teacher/show_teacher_maps_li_tags', collection: @locations, as: :location %>
            </ul> <!-- emd of nav nav-tabs -->
            <div class="tab-content">
              <%= render partial: 'partials/show_teacher/show_teacher_maps_tabs', collection: @locations, as: :location %>
            </div> <!-- end of tab-content -->
          </div> <!-- end of tabpanel -->
        </div> <!-- end of col- -->    
    </div> <!-- end of col-sm-9 -->

    <div class="col-sm-3 col-xs-12 show_teacher_profile_section nopadding mob_no_padding">    
      <div class="col-xs-12 profile_pic_container" style="background-image: url(<%= @profilePic %>)">
        <%# image_tag Photo.find(@teacher.profile).avatar.url, class: 'pull-left img-responsive', size:'150x150' %>
        <p class="pull-left teachers_name"><%= @teacher.full_name %></p>
      </div> <!-- end of col-xs-12 profile_pic_container -->   
      <table class="table table-bordered table-striped table-hover teacher_profile_table col-xs-12">
        
        <tr>
          <td >Address: </td>
          <td id="address"><%= @locations.first.address %></td>
        </tr>
      </table>
    </div> <!-- end of show_teacher_profile_section -->  
    <% if @teacher.packages.size != 0 %>
      <div class="col-sm-3 col-xs-12 package_form_well">
        <h3 class="package_form_header">Teachers special offers</h3>
        <%= select('packages', 'id', @teacher.packages.collect { |p| get_select_text(p) }) %>
        <div class="text-center">
          <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#payment_packages_modal" data-remote="<%= modal_teacher_path(@teacher) %>"> <!-- load modal content dynamically -->
            Book your package
          </button>
        </div>
      </div> <!-- end of package_form_well -->
    <% end %>
  </div> <!-- end of row show_teacher_profile_container -->

  <div class="row show_teacher_to_user">  
    <div class="col-sm-8 col-xs-12 mob_no_padding">
      <div class="panel panel-default mobile">
          <div class="panel-heading teachers_info"><h2 class="panel-title pull-left">Overview</h2>
            
          </div> <!-- end of panel heading -->
          <div class="panel-body ">
            <ul class="list-group">     
              <%= @teacher.overview %>
            </ul>
          </div> <!-- end of panel-body -->
        </div> <!-- end of panel panel-default -->
      <% if !@teacher.experiences.empty? %>
        <div class="panel panel-default mobile">
          <div class="panel-heading teachers_info"><h2 class="panel-title pull-left">Experience</h2>
            
          </div> <!-- end of panel heading -->
          <div class="panel-body ">
            <ul class="list-group">     
              <%= render partial: 'partials/experience', collection: @teacher.experiences %>
            </ul>
          </div> <!-- end of panel-body -->
        </div> <!-- end of panel panel-default -->
      <% end %>
      <% if !@teacher.qualifications.empty? %>
      
        <div class="panel panel-default mobile">
          <div class="panel-heading teachers_info"><h2 class="panel-title pull-left">Education</h2>
          
          </div> <!-- end of panel heading -->

          <div class=" panel-body">
            <ul class="list-group">
              <%= render partial: 'partials/teachers_qualification', collection: @teacher.qualifications, as: :qualification %>
            </ul> <!-- end of list-group -->
          </div> <!-- end of panel-body -->
        </div> <!-- end of panel-default -->
      <% end %>
      <% if !@reviews.empty? %>
          
        <table class="table table-bordered teacher_profile_table">
          <thead class="table_header">
            <tr>
              <th class="col-md-8">Review</th>
              <th>When</th>
            </tr>
          </thead>
          <tbody>
            <%= render partial: 'partials/review_row_partial', collection: @reviews, as: :review %>
          </tbody>
        </table>      
      <% end %>    
    </div> <!-- end of col-sm-8 col-xs-12 mob_no_padding --> 
     
    <% if !@photos.empty? %>
      <div class="col-sm-4 col-xs-12 mob_no_padding">        
        <div class="fotorama col-xs-12 white_back">
          <% @photos.each do |p| %>
            <%= image_tag p.avatar.url,  class: 'img-responsive' %>
          <% end %>
        </div> <!-- end of fotrama -->
        
      </div> <!-- end of col-sm-4 col-xs-12 mob_no_padding -->
    <% end %>

    
  </div> <!-- end of row -->     
  

    <div class="row show_teacher_to_user">
      <div class="col-sm-12 col-xs-12 mob_no_padding">
        <!-- <div id="teacher_display_map">
        </div> --> <!-- end of teacher_display_map -->
        <div id="scheduler_here" class="dhx_cal_container teachers_display_scheduler" >
          <div class="dhx_cal_navline" >
              <div class="dhx_cal_prev_button">&nbsp;</div>
              <div class="dhx_cal_next_button">&nbsp;</div>
              <div class="dhx_cal_date display_teachers_cal_date pull-left" id="display_teachers_cal_date"></div>
              
          </div> <!-- end of dhx_cal_navline -->
          <div class="dhx_cal_header"></div>
          <div class="dhx_cal_data"></div>       
        </div> <!-- end of scheduler_here -->   
      </div>
    </div> <!-- end of row -->
</div>

<% end %> <%# end of cache %>
<%= render 'modals/show_teacher/payment_choice_modal' %>
<%= render 'modals/show_teacher/payments_modal_for_users' %>
<%= render 'modals/show_teacher/payments_modal_for_users_multiple' %>
<%= render 'modals/show_teacher/payment_no_location_modal' %>
<%= render 'modals/show_teacher/payment_location_only_modal' %>


<!-- outline of payment packages modal. content is loaded dynamically -->
<div class="modal fade" id="payment_packages_modal" tab-index="-2" role="dialog" aria-labelledby="payment_packages_label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      </div> <!-- end of modal-content -->
  </div> <!-- end of modal-dialog -->
</div> <!-- end of modal fade -->