<%= @params %>
<%= include_gon %><br>

<div class="row">

	<div class="col-md-9">
		<div class="panel panel-default">
			<div class="panel-heading"><%= @teacher.first_name %></div>
			<div class="panel-body">
				<div class="media">
					<span class="pull-left"><%= @teacher.profile == nil ? image_tag('silhouette.jpg', class: 'media-object') : image_tag(Photo.find(@teacher.profile).avatar.url(:thumb), class: 'media-object') %> </span>			
					<div class="media-body">
						<%= @teacher.address %><br>
						<%= @teacher.overview %><br>
					</div> <!-- end of media-body -->
				</div> <!-- end of media -->
			</div> <!-- end of panel-body -->
		</div> <!-- end of panel panel-default -->
		
		<div class="panel panel-default">
			<div class="panel-heading teachers_info"><h2 class="panel-title pull-left">Experience</h2>
				
			</div> <!-- end of panel heading -->
			<div class="panel-body">
				<ul class="list-group">			
					<%= render partial: 'partials/experience', collection: @teacher.experiences %>
				</ul>
			</div> <!-- end of panel-body -->
		</div> <!-- end of panel panel-default -->

		<div class="container-fluid nopadding">
			<div class="panel panel-default">
				<div class="panel-heading teachers_info"><h2 class="panel-title pull-left">Education</h2>
				
			</div> <!-- end of panel heading -->

				<div class="panel-body">
					<ul class="list-group">
						<%= render partial: 'partials/teachers_qualification', collection: @teacher.qualifications, as: :qualification %>
					</ul> <!-- end of list-group -->
				</div> <!-- end of panel-body -->
			</div> <!-- end of panel-default -->
			
		</div> <!-- end of container-fluid -->
		<div class="container-fluid">
			
		</div> <!-- end of container fluid -->
	</div> <!-- end of col-md-9 -->


	<div class="col-md-3">
		<div id="teacher_display_map">
		</div> <!-- end of teacher_display_map -->
		<div id="scheduler_here" class="dhx_cal_container teachers_display_scheduler" >
	    <div class="dhx_cal_navline" >
	        <div class="dhx_cal_prev_button">&nbsp;</div>
	        <div class="dhx_cal_next_button">&nbsp;</div>
	        
	        <div class="dhx_cal_date display_teachers_cal_date pull-left"></div>
	        
	    </div> <!-- end of dhx_cal_navline -->
	    <div class="dhx_cal_header"></div>
	    <div class="dhx_cal_data"></div>       
		</div> <!-- end of scheduler_here -->
	</div> <!-- end of col-md-3 -->
</div> <!-- end of row -->




