<%= @params %><br>
<div class="row">
	<div id="scheduler_here" class="dhx_cal_container teachers_area_scheduler col-md-8" style='height:850px;'>
    <div class="dhx_cal_navline">
        <div class="dhx_cal_prev_button">&nbsp;</div>
        <div class="dhx_cal_next_button">&nbsp;</div>
        <div class="dhx_cal_today_button"></div>
        <div class="dhx_cal_date"></div>
        <div class="dhx_cal_tab" name="day_tab" style="right:204px;"></div>
        <div class="dhx_cal_tab" name="week_tab" style="right:140px;"></div>
        <div class="dhx_cal_tab" name="month_tab" style="right:76px;"></div>
    </div>
    <div class="dhx_cal_header"></div>
    <div class="dhx_cal_data"></div>       
</div>
	<div class="col-md-4">
			<h2>Add an appointment</h2>
			<%= form_for [@teacher,@event], html: { class: 'form-horizontal' } do |f| %>
				<div class="form-group">
					<label for="date" class="col-sm-2 control-label">Date:</label>
					<div class="col-sm-10">
						<input name="date" type="text" id='date' >
					</div>
				</div>

				<div class='form-group'>
					<%= f.label :start_time, class: 'col-sm-4 control-label' %>
					<div class="col-sm-8">
						<%= f.time_select :start_time,
						  :combined => true,
						  :default => Time.now.change(:hour => 11, :min => 30),
						  :minute_interval => 30,
						  :time_separator => "",
						  :start_hour => 10,
						  :start_minute => 30,
						  :end_hour => 14,
						  :end_minute => 30
						%>
					</div>
				</div>

				<div class="form-group">
					<%= f.label :end_time, class: 'col-sm-4 control-label' %>
					<div class="col-sm-8">
						<%= f.time_select :end_time,
						  :combined => true,
						  :default => Time.now.change(:hour => 12, :min => 30),
						  :minute_interval => 30,
						  :time_separator => "",
						  :start_hour => 10,
						  :start_minute => 30,
						  :end_hour => 14,
						  :end_minute => 30
						%>
					</div> <!-- end of col-sm-10 -->
				</div> <!-- end of form-group -->
				<div class="btn-group" data-toggle="buttons">
					<label class="btn btn-default active">
						<%= f.radio_button :time_off, '0', { checked: true } %>Lesson
					</label>
					<label class="btn btn-default">
						<%= f.radio_button :time_off, '1' %>Time off
					</label>
				</div> <!-- end of btn-group -->
				<%= f.hidden_field :teacher_id, value: current_teacher.id %>
				
				<div class="form-group">
					<div class="col-sm-10">
						<div class="checkbox">
							
							
							<label><%= check_box_tag 'Multiple' %>Block booking</label>
							<span id="no_of_weeks" class="pull-right">Number of weeks: <%= select_tag "booking_length", options_for_select((2..52)) %></span>

						</div>
					</div>
				</div>
				<br>
				<div class="form-group">
					<div class=" col-sm-10">
						<%= f.submit id: 'event_submit' %>
					</div>
				</div> <!-- end of form-group	 -->
			<% end %>
		<button class="btn btn-default" data-toggle="modal" data-target="#teachers_open_close_modal"><span 			class="glyphicon glyphicon-pencil"></span>Edit open and closing</button>
	</div> <!-- end of col-md-4 -->

</div> <!-- end of row -->


<%= render 'modals/teacher_open_close_times' %>
