<%= @params %><br>
<div class="row">
	<div class="col-md-8" id='calendar'></div>
<div class="col-md-4">
		<h2>Add an appointment</h2>
		<%= form_for [@teacher,@event], html: { class: 'form-horizontal' } do |f| %>
			<div class="form-group">
				<label for="date" class="col-sm-2 control-label">Date:</label>
				<div class="col-sm-10">
					<input name="date" type="text" id='date' >
				</div>
			</div>

			<div class='form-group'>
				<%= f.label :start_time, class: 'col-sm-2 control-label' %>
				<div class="col-sm-10">
					<%= f.time_select :start_time,
					  :combined => true,
					  :default => Time.now.change(:hour => 11, :min => 30),
					  :minute_interval => 30,
					  :time_separator => "",
					  :start_hour => 10,
					  :start_minute => 30,
					  :end_hour => 14,
					  :end_minute => 30
					%>
				</div>
			</div>

			<div class="form-group">
				<%= f.label :end_time, class: 'col-sm-2 control-label' %>
				<div class="col-sm-10">
					<%= f.time_select :end_time,
					  :combined => true,
					  :default => Time.now.change(:hour => 12, :min => 30),
					  :minute_interval => 30,
					  :time_separator => "",
					  :start_hour => 10,
					  :start_minute => 30,
					  :end_hour => 14,
					  :end_minute => 30
					%>
				</div>
			</div>
			<%= f.hidden_field :teacher_id, value: current_teacher.id %>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<%= f.submit id: 'event_submit' %>
				</div>
			</div>			
		<% end %>
		
</div>
</div>

<hr>
<div id="teacherSetupNav" class="row col-md-12" >
	<div class="col-md-10 col-md-offset-2">
		<%= button_to edit_teacher_path(current_teacher), method: 'get', class: 'btn btn-success center-block lower_nav_buttons ' do %>
			Edit profile <span class="glyphicon glyphicon-circle-arrow-left"></span>
		<% end %>
		<%= button_to qualification_form_teacher_path(current_teacher.id), method: 'get', class: 'btn btn-success center-block lower_nav_buttons' do %>
			Qualifications <span class="glyphicon glyphicon-circle-arrow-left"></span>
		<% end %>
		<%= button_to your_location_teacher_path(current_teacher), method: 'get', class: 'btn btn-success center-block lower_nav_buttons' do %>
			Where are you? <span class="glyphicon glyphicon-circle-arrow-left"></span>
		<% end %>
		<%= button_to teachers_area_teacher_path(current_teacher), method: 'get', class: 'btn current_page center-block lower_nav_buttons' do %>
			Your work area <span class="glyphicon glyphicon-circle-arrow-up"></span>
		<% end %>
	</div>
</div>
