<%= content_for :title, "Teachers area" %>
<div class="outer-container">
	<div class="row row_teachers_area">
		<div id="scheduler_here" class="dhx_cal_container teachers_area_scheduler col-md-8">
	    <div class="dhx_cal_navline">
	        <div class="dhx_cal_prev_button">&nbsp;</div>
	        <div class="dhx_cal_next_button">&nbsp;</div>
	        <div class="dhx_cal_date teachers_area_cal_date"></div>
	        <div class="dhx_cal_tab" name="day_tab" style="right:204px;"></div>
	        <div class="dhx_cal_tab" name="week_tab" style="right:140px;"></div>
	        <div class="dhx_cal_tab" name="month_tab" style="right:76px;"></div>
	    </div>
	    <div class="dhx_cal_header"></div>
	    <div class="dhx_cal_data"></div>       
	</div>
		<div class="col-md-4">
			<h2>Add an appointment</h2>
			<%= form_for [@teacher,@event], html: { class: 'form-horizontal' } do |f| %>
				<div class="form-group">
					<label for="date" class="col-sm-2 control-label">Date:</label>
					<div class="col-sm-10">
						<input name="date" type="text" id='date' >
					</div>
				</div> <!-- end of form-group -->
	 
				<div class='form-group'>
					<%= f.label :start_time, class: 'col-sm-4 control-label' %>
					<div class="col-sm-8">
						<%= f.time_select :start_time,
						  :combined => true,
						  :default => Time.now.change(:hour => 11, :min => 30),
						  :minute_interval => 30,
						  :time_separator => "",
						  :start_hour => 10,
						  :start_minute => 30,
						  :end_hour => 14,
						  :end_minute => 30
						%>
					</div> <!-- end of col-sm-8 -->
				</div> <!-- end of form-group -->

				<div class="form-group">
					<%= f.label :end_time, class: 'col-sm-4 control-label' %>
					<div class="col-sm-8">
						<%= f.time_select :end_time,
						  :combined => true,
						  :default => Time.now.change(:hour => 12, :min => 30),
						  :minute_interval => 30,
						  :time_separator => "",
						  :start_hour => 10,
						  :start_minute => 30,
						  :end_hour => 14,
						  :end_minute => 30
						%>
					</div> <!-- end of col-sm-10 -->
				</div> <!-- end of form-group -->
					<div class="btn-group" data-toggle="buttons">
						<label class="btn btn-default active">
							<%= f.radio_button :time_off, '0', { checked: true } %>Lesson
						</label>
						<label class="btn radio_label btn-default" data-toggle="tooltip" data-placement="right" title="Select time off to enter hours that you are unavailable" data-container"body">
							<%= f.radio_button :time_off, '1' %>Time off
						</label>
					</div> <!-- end of btn-group -->
					<%= f.hidden_field :teacher_id, value: current_teacher.id %>
					<%= f.hidden_field :student_id, value: 0 %>
				<div class="form-group">
					<div class="col-sm-10">
						<div class="checkbox">
							
							
							<label><%= check_box_tag 'Multiple' %>Block booking</label>
							<span id="no_of_weeks" class="pull-right">Number of weeks: <%= select_tag "booking_length", options_for_select((2..52)) %></span>

						</div> <!-- end of checkbox -->
					</div> <!-- end of col-sm-10 -->
				</div> <!-- end of form-group -->
					<br>
				<div class="form-group">
					<div class=" col-sm-10">
						<%= f.submit id: 'event_submit' %>
					</div> <!-- end of col-sm-10 -->
				</div> <!-- end of form-group	 -->
			<% end %>

			<hr>
			<button class="btn btn-default" data-toggle="modal" data-target="#teachers_open_close_modal"><span class="glyphicon glyphicon-pencil"></span>Edit open and closing</button><br>	<br>
			
			<button class="btn btn-warning" data-toggle="tooltip" title="Should someone make a booking during your closed time and you need to edit it click this button to unlock the calendar" data-placement="right" id="calendar_unmark_time" onclick="unmarkTimespan()">Unlock calendar</button>
		</div> <!-- end of col-md-4 -->
	</div> <!-- end of row -->
	<%= render 'partials/teachers_stuff/invitation' %>

	

	<div class="row">
		<div class="col-xs-12">
				<div class="well friendship_well">
					<h2 class="friendship_well_header">
						List of your students <small>Click on name for more options</small>
					</h2>
					<% for friendship in @teacher.friendships %>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a href="#<%= friendship.id %>" data-parent="#accordian" data-toggle="collapse"><%= friendship.student.full_name %></a>
								</h4>
							</div> <!-- end of panel-heading -->
							<div id="<%= friendship.id %>" class="panel-collapse collapse">
								<div class="panel-body">
									<ul class="list-group">
										<!-- Button trigger modal -->
										<%= form_tag friendships_message_path(teacher_id: friendship.teacher_id, student_id: friendship.student_id), remote: true do %>
											<%= submit_tag 'Send message to student', class: 'btn btn-success pull-right' %>
										<% end %>

									</ul> <!-- end of list-group -->
									No. of upcoming bookings <%= return_future_bookings(@existing_events) %><br>
									No. of previous bookings <%= return_past_boookings(@existing_events) %>
								</div> <!-- end of panel-body -->
							</div> <!-- end of panel-collapse collapse -->
						</div> <!-- end of panel panel-default -->

					<% end %> <%# end of for friendship in @teacher.friendships %>
				</div> <!-- end of well -->
		</div> <!-- end of col-xs-12 -->
	</div> <!-- end of row -->
</div> <!-- end of outer-container -->

<%= render 'modals/teacher_open_close_times' %>



<div class="modal fade" id="student_email_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <%= form_tag send_message_teacher_friendship_path(id: current_teacher.id, teacher_id: current_teacher.id), class: 'form-horizontal' do  %>
          <div class="form-group">
            <%= label_tag :email, 'Student email', class: 'col-sm-2 control-label' %>
            <div class="col-sm-10">
              <%= text_field_tag :email,  nil, class: 'form-control', disabled: true %>
            </div> <!-- end of col-sm-10 -->
          </div> <!-- end of form-group -->
          <div class="form-group">
            <%= label_tag :subject, 'Subject', class: 'col-sm-2 control-label' %>
            <div class="col-sm-10">
              <%= text_field_tag :subject, nil, placeholder: 'Subject', class: 'form-control' %>
            </div> <!-- end of col-sm-10 -->
          </div> <!-- end of form-group -->
          <div class="form-group">
            <%= label_tag :message, 'Message', class: 'col-sm-2 control-label' %>
            <div class="col-sm-10">
              <%= text_area_tag :message, nil, placeholder: 'Enter your message here', class: 'form-control', rows: 10 %>
            </div> <!-- end of col-sm-10 -->
          </div> <!-- end of form-group -->
          <%= hidden_field_tag 'teacher_email', current_teacher.email %>
          <%= hidden_field_tag 'email', '', id: 'message_email' %>
          <div class="friendship_message_footer">
            <%= submit_tag 'Send message', class: 'btn btn-success' %>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> 
          </div> <!-- end friendship_message_footer -->
        </div>
        
      <% end %>
    </div> <!--  end of modal-content -->
  </div>
</div>
