<%= @params %><br>
<div class="row">
	<div class="col-md-8" id='calendar'></div>
<div class="col-md-4">
		<h2>Add an appointment</h2>
		<%= form_for [@teacher,@event], html: { class: 'form-horizontal' } do |f| %>
			<div class="form-group">
				<label for="date" class="col-sm-2 control-label">Date:</label>
				<div class="col-sm-10">
					<input name="date" type="text" id='date' >
				</div>
			</div>

			<div class='form-group'>
				<%= f.label :start_time, class: 'col-sm-2 control-label' %>
				<div class="col-sm-10">
					<%= f.time_select :start_time,
					  :combined => true,
					  :default => Time.now.change(:hour => 11, :min => 30),
					  :minute_interval => 30,
					  :time_separator => "",
					  :start_hour => 10,
					  :start_minute => 30,
					  :end_hour => 14,
					  :end_minute => 30
					%>
				</div>
			</div>

			<div class="form-group">
				<%= f.label :end_time, class: 'col-sm-2 control-label' %>
				<div class="col-sm-10">
					<%= f.time_select :end_time,
					  :combined => true,
					  :default => Time.now.change(:hour => 12, :min => 30),
					  :minute_interval => 30,
					  :time_separator => "",
					  :start_hour => 10,
					  :start_minute => 30,
					  :end_hour => 14,
					  :end_minute => 30
					%>
				</div>
			</div>
			<%= f.hidden_field :teacher_id, value: current_teacher.id %>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<%= f.submit id: 'event_submit' %>
				</div>
			</div>			
		<% end %>
		
</div>
</div>

<hr>

<div class="row" id="map_container">
	<div class="well">You can enter your address and click find address or use the map controls and click on 
		your address. Please be as accurate as possible. Address should be in form: 1 High Street, town name. (The comma "," is important!)</div>
	<div class="col-md-8">
		
		<div id="map_canvas" class="col-md-12" ></div>
	</div>
	<div class="col-md-4" >
		<h2 class="h3">Where are you located?</h2><br>
		<input id="address" type="text"><button id="start_address_search" onclick="start_address_search()">Find address</button><br>
		<h4>Or click on the map</h4><br>
		<%= form_for @teacher, html: { class: 'form-horizontal'} do |f| %>
			<div class="form-group">
				<%= f.label :lat, class: 'col-sm-2' %>
				<div class="col-sm-10">
					<%= f.text_field :lat, class: 'form-control', id: 'lat' %>
				</div>
			</div> <!-- end of form-group -->
			<div class="form-group">
				<%= f.label :lon, class: 'col-sm-2' %>
				<div class="col-sm-10">
					<%= f.text_field :lon, class: 'form-control', id: 'lon' %>
				</div>
			</div>
			<div class="col-sm-offset-2 col-sm-10">
				<%= f.submit 'Update your coordinates', class: 'btn btn-info' %>
			</div>
		<% end %>
	</div>
</div>