<%= content_for :title, 'Tell us where you are' %>

<div class="outer-container">
  <div class="container-fluid home_schooling">
    <div class="well">
      You can enter a price that you charge if you are willing to travel to a students house to give a lesson
    </div>
    <% @subjects.each do |s| %>
      <div class="col-xs-6">
        <%= form_for Price.find_or_initialize_by(subject_id: s.id, no_map: true), html: { class: 'form-inline' }, remote: true do |f| %>
          <div class="form-group">
            <%= f.label "#{s.name} price" %>
            <%= f.number_field :price, class: 'form-control' %>
            <%= f.hidden_field :no_map, value: true %>
            <%= f.hidden_field :subject_id, value: s.id %>
            <%= f.hidden_field :teacher_id, value: @teacher.id %>
            <%= f.submit "Update #{s.name} price", class: 'btn btn-info' %>
          </div> <!-- end of form-group -->
        <% end %>
      </div> <!-- end of col-xs-6 -->
    <% end %>
    <%= "Go to personal info and choose your subjects first" if @subjects.size == 0 %>
  </div> <!-- end of home_schooling -->
  <div class="price_alert">
    
  </div>
  <div class="row" id="map_container">
  	<div class="col-md-12">
  		<div class="well">You can enter your address and click find address or use the map controls and click on 
  			your address. Please be as accurate as possible. Address should be in form: 1 High Street, town name. (The comma "," is important!). You can also set prices for each subject at each location. 
  		</div> <!-- end of well -->
  	</div> <!-- end of col-md-12 -->
  	<div role="tabpanel">

  	
    <!-- Nav tabs -->
      <ul class="nav nav-tabs " role="tablist">
      	<%= render partial: 'partials/your_location/your_location_li_tags', collection: @locations, as: :location %>
        
        <li role="presentation"><a href="#profile" id="1" aria-controls="profile" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add new location</a></li>
        
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
      	<%= render partial: 'partials/your_location/your_location_map_tab', collection: @locations, as: :location  %>
        
        <div role="tabpanel" class="tab-pane" id="location2">
        	
        </div>
        
        
      </div> <!-- end of tab-content -->

    </div> <!-- end of tabpanel -->
  	
  </div> <!-- end of map_container -->
  <div class="row package_form_row">
      
    <div class="well package_form_well">
      <h2 class="package_form_header">Lesson bundles </h2>
     <span class='package_form_label'>Create bundles of lessons for specific rates.</span>
    
      <%# see teachers.js, subject name appended using jquery %>
      <%= form_for @package, html: { class: 'form-inline create_package_form' } do |f| %>
        <div class="form-group">
          <%= f.label :subject_id, 'Subject?', class: 'package_form_label' %>
          <%= f.select :subject_id, options_for_select(@teacher.subjects.map { |s| [s.name, s.id] }), {}, { class: 'package_subject_name form-control' } %>
        </div>
        <div class="form-group">
          <%= f.label :no_of_lessons, 'No. of lessons?', class: 'package_form_label' %>
          <%= f.select :no_of_lessons, options_for_select(0..52),{}, { class: 'form-control' } %>
        </div>
        <div class="form-group">
          <%= f.label :price, 'Total price?', class: 'package_form_label' %>
          <%= f.number_field :price, placeholder: 'Total price?', class: 'form-control' %>
        </div>
        <%= f.hidden_field :teacher_id, value: current_teacher.id %>
        <%= f.submit 'Submit', class: 'btn btn-warning' %>
      <% end %>
    </div> <!-- end of well -->
    <div class="saved_packages_container">
     <div class="saved_packages">
       <% @teacher.packages.each do |p| %>
       <div class="display_saved_packages">
        <h2><%= p.subject_name %></h2>
        <%= %Q(You are offering a package of #{p.no_of_lessons}x#{p.subject_name} lessons for
          #{number_to_currency(p.price, unit:'€')})
        %>
        <%= link_to 'Delete?', package_path(p.id), method: 'DELETE', 'data-role' => 'button', class: 'btn btn-danger pull-right' %>
       </div>
        

      <% end %>
     </div> <!-- end of saved_packages -->
    </div> <!-- end of saved_packages_container -->
  </div> <!-- end of row -->
</div> <!-- end of outer-container -->