<%= content_for :title, 'Tell us where you are' %>
<%= include_gon %>


<div class="outer-container">
  <%# if !@teacher.paid_up %>
  <!-- <div class="container-fluid membership_container"> -->
    
      <%# render 'partials/subscription/subscription.html.erb' %>
    
  <!-- </div> end of membership_container -->
  <%#end %> <%# end of teacher.paid_up %>
  <div class="container-fluid home_schooling">
    <div class="well">      
      This page allows you to select what type of lessons you can offer your students. You can select locations of your own choice (a home or place of business), offer to travel to a students home and finally provide lesson bundles.
    </div> <!-- end of well -->
    <div class="table-responsive home_schooling_table col-md-6 col-xs-12">
      <h4>List of subjects you teach in the students house</h4>
      <table class="table table-condensed table-bordered">
        <thead class="home_schooling_table_header">
          <tr>
            <td>Subject name:</td>
            <td>Current price:</td>
            <td>Duration:</td>
            <td>Delete</td>
          </tr>
        </thead>
        <% @home_prices.each do |p| %>
          <tr>
            <td><%= get_subject_name(p) %></td>
            <td><%= number_to_currency(p.price, unit:'€') %></td>
            <td><%= "#{p.duration} mins" %></td>
            <td><%= link_to 'Delete?', [current_teacher, p], method: :delete, \
                    'data-confirm' => 'Are you sure', class: 'btn btn-danger btn-sm' %></td>    
          </tr>
        <% end %>
      </table>
    </div> <!-- end of table-responsive -->
    <div class="well home_schooling_price col-md-6 col-xs-12">
      <h4 class="home_schooling_heading">Update Prices</h4>

      <%= form_for [@teacher, Price.new], class: 'home_schooling_form form-horizontal' do |f| %>
        <div class="form-group">

          <%= f.label :subject_id, 'Subject?', class: 'well_form_label col-sm-3 control-label' %>
          <div class="col-sm-9">

            <%= f.select :subject_id, options_for_select(@subjects.map { |s| [s.name, s.id] }), {}, { class: ' form-control' } %>

          </div> <!-- end of col-sm-10 -->
        </div> <!-- end of form-group -->
        <div class="form-group">
          <%= f.label :price, 'Total price?', class: 'well_form_label col-sm-3 control-label' %>
          <div class="col-sm-9">
            <%= f.number_field :price, placeholder: 'Total price?', class: 'form-control' %>
          </div> <!-- end of col-sm-10 -->
        </div> <!-- end of form-group -->
        <div class="form-group">
          <%= f.label :duration, 'Duration?', class: 'well_form_label col-sm-3 control-label' %>
          <div class="col-sm-9">
            <%= f.number_field :duration, placeholder: 'Lesson length', step: 15, class: 'form-control' %>
          </div> <!-- end of col-sm-10 -->
        </div> <!-- end of form-group -->
        <%= f.hidden_field :teacher_id, value: current_teacher.id %>
        <%= f.hidden_field :no_map, value: true %>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <%= f.submit 'Update price', class: 'btn btn-success' %>
          </div> <!-- end of col-sm-offset-2 col-sm-10 -->
        </div> <!-- end of form-group -->
      <% end %> <%# end of form_for %>


    </div> <!-- end of well home_schooling_price col-md-6 -->
    <%= "Go to personal info and choose your subjects first" if @subjects.size == 0 %>
  </div> <!-- end of home_schooling -->

  <div class="price_alert">
    
  </div> <!-- end of price_alert -->

  <div class="row" id="map_container">
    <div class="col-md-12">
      <div class="well">You can enter your address and click find address or use the map controls and click on 
        your address. Please be as accurate as possible. Address should be in form: 1 High Street, town name. (The comma "," is important!). You can also set prices for each subject at each location. 
      </div> <!-- end of well -->
    </div> <!-- end of col-md-12 -->
    <div role="tabpanel">

    
    <!-- Nav tabs -->
      <ul class="nav nav-tabs " role="tablist">
        <%= render partial: 'partials/your_location/your_location_li_tags', collection: @locations, as: :location %>
        
        <li role="presentation"><a href="#profile" id="1" aria-controls="profile" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add new location</a></li>
        
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <%= render partial: 'partials/your_location/your_location_map_tab', collection: @locations, as: :location  %>
        
        <div role="tabpanel" class="tab-pane" id="location2">
          
        </div>
        
        
      </div> <!-- end of tab-content -->

    </div> <!-- end of tabpanel -->
    
  </div> <!-- end of map_container -->

  <div class="row"> <!-- enter teachers locations prices -->
    <div class="table-responsive home_schooling_table col-md-6 col-xs-12">
      <h4>List of subjects you teach in your locations</h4>
      <table class="table table-condensed table-bordered">
        <thead class="home_schooling_table_header">
          <tr>
            <td>Subject name:</td>
            <td>Current price:</td>
            <td>Duration:</td>
            <td>Location:</td>
            <td>Delete</td>
          </tr>
        </thead>
        <% @location_prices.each do |p| %>
          <tr>
            <td><%= get_subject_name(p) %></td>
            <td><%= number_to_currency(p.price, unit:'€') %></td>
            <td><%= "#{p.duration} mins" %></td>
            <td><%= get_location_name(p) %></td>
            <td><%= link_to 'Delete?', [current_teacher, p], method: :delete, \
                    'data-confirm' => 'Are you sure', class: 'btn btn-danger btn-sm' %></td>    
          </tr>
        <% end %>
      </table>
    </div> <!-- end of table-responsive -->
    <div class="well home_schooling_price col-md-6 col-xs-12">
      <h4 class="home_schooling_heading">Update Prices</h4>

      <%= form_for [@teacher, Price.new], class: 'home_schooling_form form-horizontal' do |f| %>
        <div class="form-group">
          <%= f.label :subject_id, 'Subject?', class: 'well_form_label col-sm-3 control-label' %>
          <div class="col-sm-9">
            <%= f.select :subject_id, options_for_select(@subjects.map { |s| [s.name, s.id] }), \
                                                            {}, { class: ' form-control' } %>
          </div> <!-- end of col-sm-10 -->
        </div> <!-- end of form-group -->
        <div class="form-group">
          <%= f.label :location_id, 'Location?', class: 'well_form_label col-sm-3 control-label' %>
          <div class="col-sm-9">
            <%= f.select :location_id, options_for_select(@teacher.locations.map { |l| [l.name, l.id] }), \
                                                              {}, { class: ' form-control' } %>
          </div> <!-- end of col-sm-10 -->
        </div> <!-- end of form-group -->
        <div class="form-group">
          <%= f.label :price, 'Total price?', class: 'well_form_label col-sm-3 control-label' %>
          <div class="col-sm-9">
            <%= f.number_field :price, placeholder: 'Total price?', class: 'form-control' %>
          </div> <!-- end of col-sm-10 -->
        </div> <!-- end of form-group -->
        <div class="form-group">
          <%= f.label :duration, 'Duration?', class: 'well_form_label col-sm-3 control-label' %>
          <div class="col-sm-9">
            <%= f.number_field :duration, placeholder: 'Lesson length', step: 15, class: 'form-control' %>
          </div> <!-- end of col-sm-10 -->
        </div> <!-- end of form-group -->
        <%= f.hidden_field :teacher_id, value: current_teacher.id %>
        <%= f.hidden_field :no_map, value: false %>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <%= f.submit 'Update price', class: 'btn btn-success' %>
          </div> <!-- end of col-sm-offset-2 col-sm-10 -->
        </div> <!-- end of form-group -->
      <% end %> <%# end of form_for %>


    </div> <!-- end of well home_schooling_price col-md-6 -->
  </div> <!-- end of row -->

  <div class="row package_form_row">
    <div class="col-md-6 col-xs-12">
    <div class="well package_form_well">
      <h2 class="well_form_header">Lesson bundles </h2>
       <span class='well_form_label'>Create bundles of lessons for specific rates.</span>
      
        <%# see teachers.js, subject name appended using jquery %>
        <%= form_for [@teacher, @package], html: { class: 'form-horizontal create_package_form' } do |f| %> <%# teachers.js %>
          <div class="form-group">
            <%= f.label :subject_id, 'Subject?', class: 'well_form_label col-sm-3 control-label' %>
            <div class="col-sm-9">
              <%= f.select :subject_id, options_for_select(@teacher.subjects.map { |s| [s.name, s.id] }), {}, { class: 'package_subject_name form-control' } %>
            </div> <!-- end of col-sm-10 -->
          </div> <!-- end of form-group -->
          <div class="form-group">
            <%= f.label :no_of_lessons, 'No. of lessons?', class: 'well_form_label col-sm-3 control-label' %>
            <div class="col-sm-9">
              <%= f.select :no_of_lessons, options_for_select(0..52),{}, { class: 'form-control' } %>
            </div> <!-- end of col-sm-10 -->
          </div> <!-- end of form-group -->
          <div class="form-group">
            <%= f.label :duration, 'Duration/mins?', class: 'well_form_label col-sm-3 control-label' %>
            <div class="col-sm-9">
              <%= f.number_field :duration, class: 'form-control' %>
            </div> <!-- end of col-sm-10 -->
          </div> <!-- end of form-group -->
          <div class="form-group">
            <%= f.label :price, 'Total price?', class: 'well_form_label col-sm-3 control-label' %>
            <div class="col-sm-9">
              <%= f.number_field :price, placeholder: 'Total price?', class: 'form-control' %>
            </div> <!-- end of col-sm-10 -->
          </div> <!-- end of form-group -->
          <%= f.hidden_field :teacher_id, value: current_teacher.id %>
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
              <%= f.submit 'Create', class: 'btn btn-warning' %>
            </div> <!-- col-sm-offset-2 col-sm-10 -->
          </div> <!-- end of form-group -->
          
        <% end %>
      </div> <!-- end of well -->      
    </div> <!-- end of col-xs-12 -->

    <div class="col-md-6 col-xs-12">
      <div class="well grind_well">
        <h2 class="well_form_header">Create a classrom</h2>
        <span class="package_form_label">Define your class room size and price for lesson</span>

        <%= form_for [@teacher, @grind], html: { class: 'form-horizontal grind_form'} do |f| %>
          <div class="form-group">
            <%= f.label :subject_id, 'Subject?', class: 'well_form_label col-sm-2 control-label' %>
            <div class="col-sm-10">
              <%= f.select :subject_id, options_for_select(@teacher.subjects.map { |s| [s.name, s.id] }), {}, { class: 'grind_subject_name form-control' } %> <%# class used to update form %>
            </div> <!-- end of col-sm-10 -->
          </div> <!-- end of form-group -->

          <div class="form-group">
            <%= f.label :location_id, 'Location', class: 'well_form_label col-sm-2 control-label' %>
            <div class="col-sm-10">
              <%= f.select :location_id, options_for_select(@teacher.locations.map { |l| [l.name, l.id] }), {}, { class: 'form-control' } %>
            </div> <!-- end of col-sm-10 -->
          </div> <!-- end of form-group -->

          <div class="form-group">
            <%= f.label :capacity, 'Capacity?', class: 'well_form_label col-sm-2 control-label' %>
            <div class="col-sm-10">
              <%= f.select :capacity, options_for_select(0..40),{}, { class: 'form-control' } %>
            </div> <!-- end of col-sm-10 -->
          </div> <!-- end of form-group -->

          <div class="form-group">
            <%= f.label :price, "Price per student?", class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
              <%= f.number_field :price, placeholder: 'Price per student?', class: 'form-control' %>
            </div> <!-- end of col-sm-10 -->
          </div> <!-- end of form-group -->

          <div class="form-group">
            <%= f.label :price, "Start time", class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
              <%= datetime_select(:grind, :start_time, {prompt: true,start_year: Time.now.year},  {class: 'grind_start_time'}) %>
            </div> <!-- end of col-sm-10 -->
          </div> <!-- end of form-group -->

          <%= f.hidden_field :teacher_id, value: current_teacher.id %>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <%= f.submit 'Create', class: 'btn btn-success' %>
            </div> <!-- col-sm-offset-2 col-sm-10 -->
          </div> <!-- end of form-group -->
        <% end %> <!-- end of grin_form -->
      </div> <!-- end of well grind-->        
    </div><!-- end of col-xs-12 -->    
  </div> <!-- end of row -->

  <div class="text-center">
    <button id="toggle_packages_grinds" class="btn btn-success btn-lg">Show/hide saved packages & grinds</button> <!-- show/hide grinds -->    
  </div>

  <div class="row saved_packages_and_grinds">
    <div class="col-md-6 col-xs-12">
      <div class="saved_packages_container">
       <div class="saved_packages clearfix">
         <% @teacher.packages.each do |p| %>
         <div class="display_saved_packages clearfix">
          <h2><%= p.subject_name %></h2>
          <h4><%= %Q(You are offering a package of #{p.no_of_lessons}x#{p.subject_name} lessons of #{p.duration} mins for
            #{number_to_currency(p.price, unit:'€')})
          %></h4>
          <%= link_to 'Delete?', teacher_package_path(@teacher.id, p), method: 'DELETE', 'data-role' => 'button', class: 'btn btn-danger pull-right' %>
         </div>
          

        <% end %>
       </div> <!-- end of saved_packages -->
      </div> <!-- end of saved_packages_container -->
    </div> <!-- end of col-md-6 col-xs-12 -->

    <div class="col-md-6 col-xs-12">
      <div class="display_grind_container clearfix">
        <% @teacher.grinds.each do |g| %>
          <div class="display_saved_grinds saved_grinds clearfix">
            <h4>Subject: <%= g.subject_name %></h4>
            <%= form_for [current_teacher, g], class: 'form-horizontal' do |f| %>
              <div class="form-group">
                <label  class="col-sm-3 control-label">Location:</label>
                <div class="col-sm-9">
                  <span class="form-control disabled"><%= @teacher.locations.find { |l| l.id = g.location_id }.name %></span>
                </div>  <!-- end of col-sm-10 -->
              </div> <!-- end of form-group -->
              <div class="form-group">
                <label  class="col-sm-3 control-label">Start time:</label>
                <div class="col-sm-9">
                  <span class="form-control"><%= g.start_time.strftime("%a %b %Y %H:%M%p") %></span>
                </div>  <!-- end of col-sm-10 -->
              </div> <!-- end of form-group -->
              <div class="form-group">
                <label  class="col-sm-3 control-label">Capacity:</label>
                <div class="col-sm-9">
                  <span class="form-control disabled"><%= g.capacity %></span>
                </div>  <!-- end of col-sm-10 -->
              </div> <!-- end of form-group -->
              <div class="form-group">
                <label  class="col-sm-3 control-label">Places left:</label>
                <div class="col-sm-9">
                  <span class="form-control disabled"><%= g.capacity - g.number_booked %></span>
                </div>  <!-- end of col-sm-10 -->
              </div> <!-- end of form-group -->
              <div class="form-group">
                <label  class="col-sm-3 control-label">Places booked:</label>
                <div class="col-sm-9 black">
                  <%= f.number_field :number_booked, class: 'form-control black' %><br>
                </div>  <!-- end of col-sm-10 -->
              </div> <!-- end of form-group --><br>
              <div class="form-group">
                <label  class="col-sm-3 control-label ">Update time:</label>
                <div class="col-sm-9 black">
                  <%= f.datetime_select :start_time, class: 'form-control black' %>
                </div>  <!-- end of col-sm-10 -->
              </div> <!-- end of form-group -->

             
              <div class="form-group">
                <%= f.submit 'Update class size', class: 'btn btn-success pull-left' %><br>
                <%= link_to 'Delete entire class?', teacher_grind_path(current_teacher, g), data: { confirm: 'Are you sure?', role: 'button' }, class: 'btn btn-danger pull-right', method: :delete %>
              </div>
            <% end %>         
          
          </div> <!-- end of saved_grinds -->
        <% end %> <!-- end of grinds loop -->
      </div> <!-- end of display_grind_container -->
    </div> <!-- end of col-md-6 col-xs-12 -->
    
  </div>
  <%= render 'partials/teachers_stuff/invitation' %>
</div> <!-- end of outer-container -->
