<%= content_for :title, 'Tell us where you are' %>
<%= include_gon %>


<div class="outer-container">
  <%# if !@teacher.paid_up %>
  <!-- <div class="container-fluid membership_container"> -->
    
      <%# render 'partials/subscription/subscription.html.erb' %>
    
  <!-- </div> end of membership_container -->
  <%#end %> <%# end of teacher.paid_up %>
  <div class="container-fluid home_schooling">
    <div class="well">      
      This page allows you to select what type of lessons you can offer your students. You can select locations of your own choice (a home or place of business), offer to travel to a students home and finally provide lesson bundles.
    </div> <!-- end of well -->

    <div class="home_schooling_wrapper">
      <div class="schooling_explanation text-center">
        <h4>I can travel to a students house to teach</h4>
        
          <button class="btn btn-lg btn-success show_home_schooling_content">Show/Hide</button>
        
      </div> <!-- end of schooling_explanation -->

      <div class="home_schooling_content">
        <div class="table-responsive home_schooling_table col-md-6 col-xs-12">
          <h4>List of subjects you teach in the students house</h4>
          <table class="table table-condensed table-bordered">
            <thead class="home_schooling_table_header">
              <tr>
                <td>Subject name:</td>
                <td>Current price:</td>
                <td>Duration:</td>
                <td>Delete</td>
              </tr>
            </thead>
            <% @home_prices.each do |p| %>
              <tr>
                <td><%= get_subject_name(@teacher, p) %></td>
                <td><%= number_to_currency(p.price, unit:'€') %></td>
                <td><%= "#{p.duration} mins" %></td>
                <td><%= link_to 'Delete?', [current_teacher, p], method: :delete, \
                        'data-confirm' => 'Are you sure', class: 'btn btn-danger btn-sm' %></td>    
              </tr>
            <% end %>
          </table>
        </div> <!-- end of table-responsive -->
        
        
        <div class="well home_schooling_price col-md-6 col-xs-12">
          <h4 class="home_schooling_heading">Update Prices</h4>

          <%= form_for [@teacher, Price.new], class: 'home_schooling_form form-horizontal' do |f| %>
            <div class="form-group">
              <%= f.label :subject_id, 'Subject?', class: 'well_form_label col-sm-3 control-label' %>
              <div class="col-sm-9">
                <%= f.select :subject_id, options_for_select(@subjects.map { |s| [s.name, s.id] }), {}, { class: ' form-control', id: 'home_price_subject_id' } %>
              </div> <!-- end of col-sm-10 -->
            </div> <!-- end of form-group -->
            <div class="form-group">
              <%= f.label :price, 'Total price?', class: 'well_form_label col-sm-3 control-label' %>
              <div class="col-sm-9">
                <%= f.number_field :price, placeholder: 'Total price?', class: 'form-control', id: 'home_price_price' %>
              </div> <!-- end of col-sm-10 -->
            </div> <!-- end of form-group -->
            <div class="form-group">
              <%= f.label :duration, 'Duration?', class: 'well_form_label col-sm-3 control-label' %>
              <div class="col-sm-9">
                <%= f.number_field :duration, placeholder: 'Lesson length', step: 15, class: 'form-control', id: 'home_price_duration' %>
              </div> <!-- end of col-sm-10 -->
            </div> <!-- end of form-group -->
            <%= f.hidden_field :teacher_id, value: current_teacher.id, id: 'home_price_teacher_id' %>
            
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <%= f.submit 'Update price', class: 'btn btn-success', id: 'home_price_submit_button' %>
              </div> <!-- end of col-sm-offset-2 col-sm-10 -->
            </div> <!-- end of form-group -->
          <% end %> <%# end of form_for %>


        </div> <!-- end of well home_schooling_price col-md-6 -->
      </div> <!-- end of home_schooling_content -->
    </div> <!-- end of home_schooling_wrapper -->

    <%= "Go to personal info and choose your subjects first" if @subjects.size == 0 %>
  </div> <!-- end of home_schooling -->

  <div class="price_alert">
    
  </div> <!-- end of price_alert -->
<hr>

  <div class="row" id="map_container">
    <div class="col-md-12">
      <div class="well">You can enter your address and click find address or use the map controls and click on 
        your address. Please be as accurate as possible. Address should be in form: 1 High Street, town name. (The comma "," is important!). You can also set prices for each subject at each location. 
      </div> <!-- end of well -->
    </div> <!-- end of col-md-12 -->
    <div role="tabpanel">

    
    <!-- Nav tabs -->
      <ul class="nav nav-tabs " role="tablist">
        <%= render partial: 'partials/your_location/your_location_li_tags', collection: @locations, as: :location %>
        
        <li role="presentation"><a href="#profile" id="1" aria-controls="profile" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add new location</a></li>
        
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <%= render partial: 'partials/your_location/your_location_map_tab', collection: @locations, as: :location  %>
        
        <div role="tabpanel" class="tab-pane" id="location2">
          
        </div>
        
        
      </div> <!-- end of tab-content -->

    </div> <!-- end of tabpanel -->
    
  </div> <!-- end of map_container -->
<hr>

<div class="location_schooling_wrapper">
  <div class="row"> <!-- enter teachers locations prices -->
    <div class="schooling_explanation text-center">
      <h4>Lessons in my home or business location</h4>
      <button class="show_location_schooling_content btn btn-lg btn-success">Show/Hide</button>
    </div><!-- end of schooling_explanation -->

    <div class="location_schooling_content">
      <% if@teacher.locations.size > 0 %>
        <div class="table-responsive home_schooling_table col-md-6 col-xs-12">
          <h4>List of subjects you teach in your locations</h4>
          <table class="table table-condensed table-bordered">
            <thead class="home_schooling_table_header">
              <tr>
                <td>Subject name:</td>
                <td>Current price:</td>
                <td>Duration:</td>
                <td>Location:</td>
                <td>Delete</td>
              </tr>
            </thead>
            <% @location_prices.each do |p| %>
              <tr>
                <td><%= get_subject_name(@teacher, p) %></td>
                <td><%= number_to_currency(p.price, unit:'€') %></td>
                <td><%= "#{p.duration} mins" %></td>
                <td><%= get_location_name(@teacher, p) %></td>
                <td><%= link_to 'Delete?', [current_teacher, p], method: :delete, \
                        'data-confirm' => 'Are you sure', class: 'btn btn-danger btn-sm' %></td>    
              </tr>
            <% end %>
          </table>
        </div> <!-- end of table-responsive -->
        <div class="well home_schooling_price col-md-6 col-xs-12">
          <h4 class="home_schooling_heading">Update Prices</h4>

          <%= form_for [@teacher, Price.new], class: 'home_schooling_form form-horizontal' do |f| %>
            <div class="form-group">
              <%= f.label :subject_id, 'Subject?', class: 'well_form_label col-sm-3 control-label' %>
              <div class="col-sm-9">
                <%= f.select :subject_id, options_for_select(@subjects.map { |s| [s.name, s.id] }), \
                                              {}, { class: ' form-control', id: 'location_price_subject_id' } %>
              </div> <!-- end of col-sm-10 -->
            </div> <!-- end of form-group -->
            <div class="form-group">
              <%= f.label :location_id, 'Location?', class: 'well_form_label col-sm-3 control-label' %>
              <div class="col-sm-9">
                <%= f.select :location_id, options_for_select(@teacher.locations.map { |l| [l.name, l.id] }), \
                                              {}, { class: ' form-control', id: 'location_price_location_id' } %>
              </div> <!-- end of col-sm-10 -->
            </div> <!-- end of form-group -->
            <div class="form-group">
              <%= f.label :price, 'Total price?', class: 'well_form_label col-sm-3 control-label' %>
              <div class="col-sm-9">
                <%= f.number_field :price, placeholder: 'Total price?', class: 'form-control', id: 'location_price_price' %>
              </div> <!-- end of col-sm-10 -->
            </div> <!-- end of form-group -->
            <div class="form-group">
              <%= f.label :duration, 'Duration?', class: 'well_form_label col-sm-3 control-label' %>
              <div class="col-sm-9">
                <%= f.number_field :duration, placeholder: 'Lesson length', step: 15, class: 'form-control', id: 'location_price_duration' %>
              </div> <!-- end of col-sm-10 -->
            </div> <!-- end of form-group -->
            <%= f.hidden_field :teacher_id, value: current_teacher.id, id: 'location_price_teacher_id' %>
            
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <%= f.submit 'Update price', class: 'btn btn-success', id: 'location_price_button_submit' %>
              </div> <!-- end of col-sm-offset-2 col-sm-10 -->
            </div> <!-- end of form-group -->
          <% end %> <%# end of form_for %>


        </div> <!-- end of well home_schooling_price col-md-6 -->
      <% end %>
    </div> <!-- end of location_schooling_content -->
  </div> <!-- end of row -->
</div> <!-- end of location_schooling_wrapper -->

<hr>
  <div class="row package_form_row">
    <div class="col-xs-12">
    <div class="well package_form_well">
      <h2 class="well_form_header">Lesson bundles </h2>
       <span class='well_form_label'>Create bundles of lessons for specific rates.</span>
      
        <%# see teachers.js, subject name appended using jquery %>
        <%= form_for [@teacher, @package], html: { class: 'form-horizontal create_package_form' } do |f| %> <%# teachers.js %>
          <div class="form-group">
            <%= f.label :subject_id, 'Subject?', class: 'well_form_label col-sm-2 control-label' %>
            <div class="col-sm-10">
              <%= f.select :subject_id, options_for_select(@teacher.subjects.map { |s| [s.name, s.id] }), {}, { class: 'package_subject_name form-control' } %>
            </div> <!-- end of col-sm-10 -->
          </div> <!-- end of form-group -->
          <div class="form-group">
            <%= f.label :no_of_lessons, 'No. of lessons?', class: 'well_form_label col-sm-2 control-label' %>
            <div class="col-sm-10">
              <%= f.select :no_of_lessons, options_for_select(0..52),{}, { class: 'form-control' } %>
            </div> <!-- end of col-sm-10 -->
          </div> <!-- end of form-group -->
          <div class="form-group">
            <%= f.label :duration, 'Duration/mins?', class: 'well_form_label col-sm-2 control-label' %>
            <div class="col-sm-10">
              <%= f.number_field :duration, class: 'form-control' %>
            </div> <!-- end of col-sm-10 -->
          </div> <!-- end of form-group -->
          <div class="form-group">
            <%= f.label :price, 'Total price?', class: 'well_form_label col-sm-2 control-label' %>
            <div class="col-sm-10">
              <%= f.number_field :price, placeholder: 'Total price?', class: 'form-control' %>
            </div> <!-- end of col-sm-10 -->
          </div> <!-- end of form-group -->
          <%= f.hidden_field :teacher_id, value: current_teacher.id %>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <%= f.submit 'Create', class: 'btn btn-warning' %>
            </div> <!-- col-sm-offset-2 col-sm-10 -->
          </div> <!-- end of form-group -->
          
        <% end %>
      </div> <!-- end of well -->
      <div class="saved_packages_container">
       <div class="saved_packages clearfix">
         <% @teacher.packages.each do |p| %>
         <div class="display_saved_packages clearfix">
          <h2><%= p.subject_name %></h2>
          <h4><%= %Q(You are offering a package of #{p.no_of_lessons}x#{p.subject_name} lessons of #{p.duration} mins for
            #{number_to_currency(p.price, unit:'€')})
          %></h4>
          <%= link_to 'Delete?', teacher_package_path(@teacher.id, p), method: 'DELETE', 'data-role' => 'button', class: 'btn btn-danger pull-right' %>
         </div>
          

        <% end %>
       </div> <!-- end of saved_packages -->
      </div> <!-- end of saved_packages_container -->
    </div> <!-- end of col-xs-12 -->
  
    
  </div> <!-- end of row -->
  <hr>
  <%= render 'partials/teachers_stuff/invitation' %>
</div> <!-- end of outer-container -->
