

<!-- Modal -->
<div class="modal fade" id="conversation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      
      <div class="modal-body">
        <div class="row">
          <%= form_for Conversation.new do |f| %>
            <div class="col-xs-6">
              <div class="form-group">
                <%= f.text_field :student_name, placeholder: 'Your name(required)', class: 'form-control' %>
              </div>
            </div> <!-- end of col-xs-6 -->
            <div class="col-xs-6">
              <div class="form-group">
                <%= f.email_field :student_email, placeholder: 'Your email(required)', class: 'form-control' %>
              </div>
            </div> <!-- end of col-xs-6 -->
            <div class="col-xs-12">
              <div class="form-group">
                <%= text_area_tag 'conversation[message]', nil, placeholder: 'Your message(required)', class: 'form-control' %>
              </div>
            </div> <!-- end of col-xs-12 -->
            <%# hidden_fields %>
            <%= f.hidden_field :teacher_email, value: @teacher.email %>
            <%= f.hidden_field :teacher_id, value: @teacher.id %>
            <%= f.hidden_field :teacher_name, value: @teacher.full_name %>
            <% if teacher_signed_in? %>
              <%= f.hidden_field :is_teacher, value: @teacher.is_teacher %>
            <% else %>
              <%= f.hidden_field :is_teacher, value: false %>
            <% end %>


            <%= f.submit 'Send message', class: 'btn btn-info center-block' %>
          <% end %>
        </div> <!-- end of row -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>