<% @categories.each do |c| %>
  <div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a href="#<%= c.name.parameterize.underscore %>" data-parent="#accordian" data-toggle="collapse"><%= c.name %></a>
    </h4>
  </div>
  <div id="<%= c.name.parameterize.underscore %>" class="panel-collapse collapse">
    <div class="panel-body">
      <ul class="list-group">
        <%= form_for @subject, html: { class: 'form-horizontal' } do |s| %>
          <%= s.hidden_field :c_id, value: c.id %>
          <div class="form-group">
            <%= s.label :name, class: 'col-sm-2 control-label' %>
            <div class="col-sm-10">
              <%= s.text_field :name, placeholder: 'Subject name' %>
            </div> 
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <%= s.submit class: 'btn btn-info' %>
              
            </div>
          </div>
        <% end %>
        <% c.subjects.each do |subject| %>
          <li class="list-group-item"><%= subject.name %>
            
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>



<% end %>

