<div class="modal fade" id="payment_choice_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Payment Options</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="col-md-6">
            <%= form_tag welcome_url, method: 'get' do %>
              <%= hidden_field_tag :teacher, @teacher.email %>
              <%= hidden_field_tag :receiver_amount, @teacher.rate %>
              <%= hidden_field_tag :paypal, '1' %>
              <%= image_submit_tag 'https://www.paypalobjects.com/en_US/i/btn/x-click-but6.gif' %>
            <% end %>
          </div>
          <div class="col-md-">Check out with Stripe</div>
        </div>
      </div> <!-- end of modal-body -->
      <!-- <div class="modal-footer"> 
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> --> <!-- end of modal-footer -->
    </div> <!-- end of modal-content -->
  </div> <!-- end of modal-dialog -->
</div> <!-- end of modal fade -->