<div class="modal fade" id="teachers_open_close_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Opening hours</h4>
      </div>
      <div class="modal-body opening_times">
        <div  class="container-fluid">
          <div class="row">
						<div class="col-md-12">
							<%= form_for [@teacher,@opening], html: { class: 'form-horizontal' } do |f| %>
								<div class="form-group">
									<%= f.label :mon_open, 'Monday opening time:', class: 'col-sm-5 control-label' %>
									<div class="col-sm-3">
										<%= f.time_select :mon_open,
										  :combined => true,
										  :default => Time.now.change(:hour => 9, :min => 30),
										  :minute_interval => 30,
										  :time_separator => "",
										  :start_hour => 7,
										  :start_minute => 00,
										  :end_hour => 19,
										  :end_minute => 30
										%>
									</div> <!-- end of col-sm-7 -->                  
								</div> <!-- end of form-group -->
								<div class="form-group second_day">
								<%= f.label :mon_close, 'Monday closing time:', class: 'col-sm-5 control-label' %>
									<div class="col-sm-3">
										<%= f.time_select :mon_close,
										  :combined => true,
										  :default => Time.now.change(:hour => 15, :min => 30),
										  :minute_interval => 30,
										  :time_separator => "",
										  :start_hour => 10,
										  :start_minute => 30,
										  :end_hour => 22,
										  :end_minute => 30
										%>										
									</div> <!-- end of col-sm-7 -->
                  <div class="checkbox col-sm-4">
                    <label>
                      <%= check_box_tag 'all_day_mon', 1, @opening.all_day_mon %>Closed Monday
                    </label>
                  </div> <!-- end of checkbox col-sm-4 -->
								</div> <!-- end of form-group -->
                
								<div class="form-group">
                  <%= f.label :tues_open, 'Tuesday opening time:', class: 'col-sm-5 control-label' %>
                  <div class="col-sm-3">
                    <%= f.time_select :tues_open,
                      :combined => true,
                      :default => Time.now.change(:hour => 9, :min => 30),
                      :minute_interval => 30,
                      :time_separator => "",
                      :start_hour => 7,
                      :start_minute => 00,
                      :end_hour => 19,
                      :end_minute => 30
                    %>
                  </div> <!-- end of col-sm-7 -->
                </div> <!-- end of form-group -->
                <div class="form-group second_day">
                <%= f.label :tues_close, 'Tuesday closing time:', class: 'col-sm-5 control-label' %>
                  <div class="col-sm-3">
                    <%= f.time_select :tues_close,
                      :combined => true,
                      :default => Time.now.change(:hour => 15, :min => 30),
                      :minute_interval => 30,
                      :time_separator => "",
                      :start_hour => 10,
                      :start_minute => 30,
                      :end_hour => 22,
                      :end_minute => 30
                    %>                    
                  </div> <!-- end of col-sm-7 -->
                  <div class="checkbox col-sm-4">
                    <label>
                      <%= check_box_tag 'all_day_tues', 1, @opening.all_day_tues %>Closed Tuesday
                    </label>
                  </div> <!-- end of checkbox col-sm-4 -->
                </div> <!-- end of form-group -->
                <div class="form-group">
                  <%= f.label :wed_open, 'Wednesday opening time:', class: 'col-sm-5 control-label' %>
                  <div class="col-sm-3">
                    <%= f.time_select :wed_open,
                      :combined => true,
                      :default => Time.now.change(:hour => 9, :min => 30),
                      :minute_interval => 30,
                      :time_separator => "",
                      :start_hour => 7,
                      :start_minute => 00,
                      :end_hour => 19,
                      :end_minute => 30
                    %>
                  </div> <!-- end of col-sm-7 -->
                </div> <!-- end of form-group -->
                <div class="form-group second_day">
                <%= f.label :wed_close, 'Wednesday closing time:', class: 'col-sm-5 control-label' %>
                  <div class="col-sm-3">
                    <%= f.time_select :wed_close,
                      :combined => true,
                      :default => Time.now.change(:hour => 15, :min => 30),
                      :minute_interval => 30,
                      :time_separator => "",
                      :start_hour => 10,
                      :start_minute => 30,
                      :end_hour => 22,
                      :end_minute => 30
                    %>                    
                  </div> <!-- end of col-sm-7 -->
                  <div class="checkbox col-sm-4">
                    <label>
                      <%= check_box_tag 'all_day_wed', 1, @opening.all_day_wed %>Closed Wednesday
                    </label>
                  </div> <!-- end of checkbox col-sm-4 -->
                </div> <!-- end of form-group -->
                <div class="form-group">
                  <%= f.label :thur_open, 'Thursday opening time:', class: 'col-sm-5 control-label' %>
                  <div class="col-sm-3">
                    <%= f.time_select :thur_open,
                      :combined => true,
                      :default => Time.now.change(:hour => 9, :min => 30),
                      :minute_interval => 30,
                      :time_separator => "",
                      :start_hour => 7,
                      :start_minute => 00,
                      :end_hour => 19,
                      :end_minute => 30
                    %>
                  </div> <!-- end of col-sm-7 -->
                </div> <!-- end of form-group -->
                <div class="form-group second_day">
                <%= f.label :thur_close, 'Thursday closing time:', class: 'col-sm-5 control-label' %>
                  <div class="col-sm-3">
                    <%= f.time_select :thur_close,
                      :combined => true,
                      :default => Time.now.change(:hour => 15, :min => 30),
                      :minute_interval => 30,
                      :time_separator => "",
                      :start_hour => 10,
                      :start_minute => 30,
                      :end_hour => 22,
                      :end_minute => 30
                    %>                    
                  </div> <!-- end of col-sm-7 -->
                  <div class="checkbox col-sm-4">
                    <label>
                      <%= check_box_tag 'all_day_thur', 1, @opening.all_day_thur %>Closed Thursday
                    </label>
                  </div> <!-- end of checkbox col-sm-4 -->
                </div> <!-- end of form-group -->
                <div class="form-group">
                  <%= f.label :fri_open, 'Friday opening time:', class: 'col-sm-5 control-label' %>
                  <div class="col-sm-3">
                    <%= f.time_select :fri_open,
                      :combined => true,
                      :default => Time.now.change(:hour => 9, :min => 30),
                      :minute_interval => 30,
                      :time_separator => "",
                      :start_hour => 7,
                      :start_minute => 00,
                      :end_hour => 19,
                      :end_minute => 30
                    %>
                  </div> <!-- end of col-sm-7 -->
                </div> <!-- end of form-group -->
                <div class="form-group second_day">
                <%= f.label :fri_close, 'Friday closing time:', class: 'col-sm-5 control-label' %>
                  <div class="col-sm-3">
                    <%= f.time_select :fri_close,
                      :combined => true,
                      :default => Time.now.change(:hour => 15, :min => 30),
                      :minute_interval => 30,
                      :time_separator => "",
                      :start_hour => 10,
                      :start_minute => 30,
                      :end_hour => 22,
                      :end_minute => 30
                    %>                    
                  </div> <!-- end of col-sm-7 -->
                  <div class="checkbox col-sm-4">
                    <label>
                      <%= check_box_tag 'all_day_fri', 1, @opening.all_day_fri %>Closed Friday
                    </label>
                  </div> <!-- end of checkbox col-sm-4 -->
                </div> <!-- end of form-group -->
                <div class="form-group">
                  <%= f.label :sat_open, 'Saturday opening time:', class: 'col-sm-5 control-label' %>
                  <div class="col-sm-3">
                    <%= f.time_select :sat_open,
                      :combined => true,
                      :default => Time.now.change(:hour => 9, :min => 30),
                      :minute_interval => 30,
                      :time_separator => "",
                      :start_hour => 7,
                      :start_minute => 00,
                      :end_hour => 19,
                      :end_minute => 30
                    %>
                  </div> <!-- end of col-sm-7 -->
                </div> <!-- end of form-group -->
                <div class="form-group second_day">
                <%= f.label :sat_close, 'Saturday closing time:', class: 'col-sm-5 control-label' %>
                  <div class="col-sm-3">
                    <%= f.time_select :sat_close,
                      :combined => true,
                      :default => Time.now.change(:hour => 15, :min => 30),
                      :minute_interval => 30,
                      :time_separator => "",
                      :start_hour => 10,
                      :start_minute => 30,
                      :end_hour => 22,
                      :end_minute => 30
                    %>                    
                  </div> <!-- end of col-sm-7 -->
                  <div class="checkbox col-sm-4">
                    <label>
                      <%= check_box_tag 'all_day_sat', 1, @opening.all_day_sat %>Closed Saturday
                    </label>
                  </div> <!-- end of checkbox col-sm-4 -->
                </div> <!-- end of form-group -->
                <div class="form-group">
									<%= f.label :sun_open, 'Sunday opening time:', class: 'col-sm-5 control-label' %>
									<div class="col-sm-3">
										<%= f.time_select :sun_open,
                      combined: true,
                      default: Time.now.change(hour: '15', min: '30'),
										  :minute_interval => 30,
										  :time_separator => "",
										  :start_hour => 7,
										  :start_minute => 00,
										  :end_hour => 19,
										  :end_minute => 30
										%>
									</div> <!-- end of col-sm-7 -->
								</div> <!-- end of form-group -->
								<div class="form-group ">
								<%= f.label :sun_close, 'Sunday closing time:', class: 'col-sm-5 control-label' %>
									<div class="col-sm-3">
										<%= f.time_select :sun_close,
										  :combined => true,
										  :default => Time.now.change(:hour => 15, :min => 30),
										  :minute_interval => 30,
										  :time_separator => "",
										  :start_hour => 10,
										  :start_minute => 30,
										  :end_hour => 22,
										  :end_minute => 30
										%>										
									</div> <!-- end of col-sm-7 -->
                  <div class="checkbox col-sm-4">
                    <label>
                      <%= check_box_tag 'all_day_sun', 1, @opening.all_day_sun %>Closed Sunday
                    </label>
                  </div> <!-- end of checkbox col-sm-4 -->
								</div> <!-- end of form-group -->
								<%= f.hidden_field :teacher_id, value: current_teacher.id %>
								<div class="modal-footer">
		              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		              <%= f.submit 'Update details', class: 'btn btn-primary' %>
		            </div>
							<% end %>
						</div> <!-- end of col-md-12 -->
					</div> <!-- end of row -->
          
        </div> <!-- end of container-fluid -->
      </div> <!-- end of modal-body -->
      
    </div> <!-- end of modal-content -->
  </div> <!-- end of modal-dialog -->
</div> <!-- end of modal-fade -->

