<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="teachers_dropzone_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Upload photos</h4>
      </div>
      <div class="modal-body">
        <div  class="container-fluid">
          <div class="dropzone-container">
            <% if is_mobile? %>
              <%= form_for [@teacher, Photo.new] do |p| %>
                <div class="form-group fallback">
                    
                   <%= p.file_field :avatar, id: 'picture_upload_field' %>
                   <%# p.hidden_field :teacher_id, value: current_teacher.id %>
                   <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
                   <%= p.submit 'Upload photos', class: 'btn btn-primary' %>
                </div> <!-- end of fallback -->
              <% end %>
            <% else %>
              <%= form_for [@teacher, Photo.new], html: { id: 'dropzone', class: 'dropzone' } do |p| %>
                <div class="form-group fallback">
                    
                     <%= p.file_field :avatar, id: 'picture_upload_field' %>
                     <%= p.hidden_field :teacher_id, value: current_teacher.id %>
                     <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
                </div> <!-- end of fallback -->
              <% end %>
            <% end %>


            
          </div> <!-- end of dropzone-container -->
          
        </div> <!-- end of container-fluid -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" name="Upload photos" id="process_queue">Upload photos</button>
      </div>
    </div>
  </div>
</div>