

<div class="modal fade" id="teachers_rates_modal" tab-index="-1" role="dialog" aria-labelledby="teachers_rates" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="teachers_rates_modal_title">Edit rates</h4>
      </div>
      <div class="modal-body">
        
          <div class="form-group">
            <%= form_tag teacher_path(id: current_teacher), method: 'put', remote: true do %>
              <%= select_tag "will_travel", "<option>Home only</option><option>Will travel</option>".html_safe, class: 'form_input' %>
              <%= submit_tag 'Submit', class: 'btn' %>
            <% end %>
            
            
            <div class="rate_selection_partial_container">
              <%= render partial: 'partials/rate_selection', collection: @context.subjects, as: :subject %>Your travel status is currently set to: <%= @context.will_travel ? 'Will travel' : 'Home only' %><br>
            </div>    
          </div>
        
      </div>
    </div>
  </div>
</div>