<div class="modal fade" id="teacher_select_payment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Payment Options</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="col-md-6 paypal_choice">
            
          </div> <!-- end of col-md-6 paypal_choice -->


          <div class="col-md-6 stripe_choice">
            <%= form_tag 'https://connect.stripe.com/oauth/authorize', method: 'get' do %>
              <%= hidden_field_tag :response_type, 'code' %>
              <%= hidden_field_tag :client_id, 'ca_4qQTgrfr1l9xHgK7qnrNZbpXz2tpBecX' %>
              <%= hidden_field_tag :scope, 'read_write' %>
              <%= hidden_field_tag :redirect_uri, 'http://localhost:3000/stripe-auth-user' %>
              <%= hidden_field_tag :stripe_landing, 'login' %>
              <%= hidden_field_tag :state, current_teacher.id %>
              <%= submit_tag 'Stripe' %>
            <% end %>
            
          </div> <!-- end of col-md-6 stripe_choice -->

        </div> <!-- end of container-fluid -->
      </div> <!-- end of modal-body -->
      <!-- <div class="modal-footer"> 
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> --> <!-- end of modal-footer -->
    </div> <!-- end of modal-content -->
  </div> <!-- end of modal-dialog -->
</div> <!-- end of modal fade -->

<!-- stripe secret sk_test_1ZTmwrLuejFto5JhzCS9UAWu -->
<!-- stripe publishable pk_test_bedFzS7vnmzthkrQolmUjXNn -->