<div class="modal fade" id="teacher_select_payment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Payment Options</h4>
      </div>
      <div class="modal-body teacher_select_payment_modal_body">
        <div class="container-fluid teacher_payment_registration_details">
          <ul class="nav nav-tabs" role="tablist" id="payment_tabs">
            <li role="presentation" class="active"><a href="#stripe" aria-controls="stripe" role="tab" data-toggle="tab">Stripe</a></li>
            <li role="presentation"><a href="#Paypal" aria-controls="Paypal" role="tab" data-toggle="tab">Paypal</a></li>
          </ul> <!-- end of payment_tabs -->

          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="stripe">
              Click the button below to connect your stripe account to LYL. 
                You will be prompted by Stripe to login and click accept. Stripe will
                then send us an access token that we use to take payments on your behalf. 
                We do not store your Stripe password.
                <%= form_tag 'https://connect.stripe.com/oauth/authorize', method: 'get', class: 'stripe_reg_button' do %>
                  <%= hidden_field_tag :response_type, 'code' %>
                  <%= hidden_field_tag :client_id, ENV['STRIPE_CLIENT_ID'] %>
                  <%= hidden_field_tag :scope, 'read_write' %>


                  <%= hidden_field_tag :redirect_uri, 'https://www.learn-your-lesson.ie/stripe-auth-user' %>



                  <%= hidden_field_tag :stripe_landing, 'login' %>
                  <%= hidden_field_tag :state, current_teacher.id %>
                  <%= submit_tag 'Stripe Registration', class: 'btn btn-info' %>
                <% end %>
            </div> <!-- end of stripe -->

            <div role="tabpanel" class="tab-pane" id="Paypal">
              <p class="Paypal_reg_explanation">Please enter your Paypal login email address. We will never ask you for your Paypal
               password. <strong><u> First name and surname must match the name on your Paypal account exactly. You must be registered for a Paypal business account.</u></strong> <br><%= link_to 'Click here for instructions', 'https://www.Paypal.com/us/cgi-bin/webscr?cmd=_run-signup-upgrade-link', target: '_blank' %></p>
               
               <%= form_for @teacher, class: 'paypal_email_form form-horizontal' do |f| %>
                  <div class="form-group">
                    <div class="col-sm-10">
                     <%= text_field_tag 'teacher[paypal_first_name]', nil,  placeholder: 'First name', class: 'form-control' %>

                   </div>
                  </div> <!-- end of form-group -->

                   <div class="form-group">
                   <div class="col-sm-10">
                     <%= text_field_tag 'teacher[paypal_last_name]', nil,   placeholder: 'Last name', class: 'form-control' %>
                   </div>
                 </div> <!-- enf of form-group -->

                 <div class="form-group">
                   <div class="col-sm-10">
                     <%= f.email_field :paypal_email, placeholder: 'Paypal Email', class: 'form-control' %>
                   </div>
                 </div> <!-- enf of form-group -->

                 <div class="form-group">
                   <div class="col-sm-10">
                     <%= f.submit 'Save email', class: 'btn btn-info' %>
                   </div>
                 </div>
                 
               <% end %>

            </div> <!-- end of Paypal -->
          </div>
        </div> <!-- end of container-fluid -->
      </div> <!-- end of modal-body -->
      
    </div> <!-- end of modal-content -->
  </div> <!-- end of modal-dialog -->
</div> <!-- end of modal fade -->
