<% cache(['home_nav', current_teacher]) do %>
  <nav class="navbar user_nav navbar-default" id="standard_nav_bar" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to(root_url, class: 'pull-left') do %>
          <%= image_tag 'lylLogo.png' %>
        <% end %>
        <%= link_to 'Learn Your Lesson', root_url, class: 'navbar-brand' %>
      </div> <!-- end of navbar-header -->

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li ><a href="/mailing-list">Subscribe to mailing list</a></li>
          
          <% if !is_mobile? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Subjects <span class="caret"></span></a>
              <ul class="dropdown-menu extra" role="menu">
                <% @categories.each do |c| %>
                  <li class="dropdown-submenu">
                    <a href="#" tab-index="-1"><%= c.name %></a>
                    <ul class="dropdown-menu">
                      <% c.subjects.each do |s| %>
                        <li><%= link_to s.name, display_subjects_path(search_subjects: s.name, search_position: '') %></li>
                      <% end %>
                    </ul>
                  </li>
                <% end %>
              </ul> <!-- end of dropdown-menu extra -->
            </li> <!-- end of dropdown -->
          <% else %>
            <li><%= link_to 'Subjects', browse_categories_path %></li>   
          <% end %>
          
        </ul> <!-- end of navbar-nav -->
        
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/how-it-works">How it works</a></li>

          <% if current_teacher %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <%= current_teacher.email %><span class="caret"></span></a>
              <ul class="dropdown-menu <%= 'drop_mobile' if is_mobile? %>"  role="menu">            
                <li><%= link_to 'History', previous_lessons_teacher_path(current_teacher.id) %></li>
                <li><%=link_to 'Edit info', edit_teacher_path(current_teacher) if current_teacher.is_teacher %></li>
                <li class="divider"></li>
                
                <li><%= link_to 'Logout', destroy_teacher_session_path, method: :delete %></li>
                <li class="divider"></li>
                <li><a href="#" data-target="#add_authentication_modal" data-toggle="modal">Add authentications</a></li>
              </ul>
          <% else %>
            <li><%= link_to 'Become a teacher', teach_path %></li>
            <li><%= link_to 'Login', '#', data: { toggle: 'modal', target: '#login_modal' } %></li>
            <li><%= link_to 'Sign Up', learn_path %></li>
          <% end %>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
<% end %> <%# end of cache %>

<%= render 'modals/login_modal' %>