<div class="table-responsive">
  <table class="table table-bordered">
    <tr>
      <td>Teacher:</td>
      <td><%= @teacher.full_name %></td>
    </tr>
    <tr>
      <td>Price:</td>
      <td><%= number_to_currency(@price.price, unit:'€') %></td>
    </tr>
    <tr>
      <td>Duration:</td>
      <td><%= "#{@price.duration} mins" %></td>
    </tr>
    <tr>
      <td>Location</td>
      <% if @cart.booking_type == "home" %>
        <td>Your house</td>
      <% else %>
        <td><%= Location.find(@cart.location_id).name %> (teachers location)</td>
      <% end %>
      
    </tr>
  </table>
</div> <!-- end of table-responsive -->


<% if @cart.location_id != nil %>
  <div class="row">
    
      <% if @teacher.paypal_email != "" %>
        <div class="col-xs-6">
          <%= form_tag paypal_create_path, method: 'get', class: 'payments_modal_for_users_form' do %>
            
            <%= image_submit_tag 'https://www.paypalobjects.com/en_US/i/btn/x-click-but6.gif' %>
          <% end %>
        </div> <!-- end of col-md-6-->
      <% end %> <%# end of @teacher.paypal_email != "" %>

      
      <% if @teacher.stripe_access_token != "" %>
        
        <div class="col-xs-6">
          <%= form_tag stripe_create_path, class: 'payments_modal_for_users_form' do %>
          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_bedFzS7vnmzthkrQolmUjXNn"
            data-description="Book your lesson"
            data-currency="eur"
            data-description="This is the description"
            data-imgage="<%= asset_url 'stripe.png' %>"
            ></script>
            
      
      
          <% end %>
        </div> <!-- end of col-md-6-->

      <% end %> <%# end of @teacher.stripe_access_token != "" %>
   
  </div> <!-- end of row -->

<% else %> <%# if @cart.location_id != nil %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% %>

  <div class="row">
    <div class="col-xs-6">
      <% if @teacher.paypal_email != "" %>

        <%= form_tag home_booking_paypal_path, class: 'home_booking_form', method: 'post' do %>

          <%= hidden_field_tag :home_address, nil, class: 'home_address' %>
          <%= hidden_field_tag :remember, nil, class: 'save_address' %>
          
          <%= image_submit_tag 'https://www.paypalobjects.com/en_US/i/btn/x-click-but6.gif', class: 'img-responsive' %>

        <% end %>
      <% end %>
    </div> <%# end of col-xs-6 %>

    <div class="col-xs-6">
      <% if @teacher.stripe_access_token != "" %>
        <%= form_tag home_booking_stripe_path, class: 'home_booking_form', method: 'post' do %>
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= ENV['STRIPE_PUBLIC_KEY'] %>"
          data-description="Book your lesson"
          data-currency="eur"
          data-description="This is the description"
          data-imgage="<%= asset_url 'stripe.png' %>"
          ></script>


            
          <%= hidden_field_tag :home_address, nil, class: 'home_address' %>

          
        <% end %>

      <% end %>
    </div> <%# end of col-xs-6 %>

  </div> <%# end of row %>
  <div class="row">

    <% if @cart.booking_type == 'home' %>

      <div class="form-group">
        <label for="address" class="col-sm-2 control-label">Address:</label>
        <div class="col-sm-10">
          <%= text_field_tag :home_address, current_teacher.address, placeholder: 'Address',size: 40, id: 'home_booking_address' %>
          
        </div>
      </div> <!-- end of form-group -->
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <div class="checkbox">
            <label>
              <%= check_box_tag :remember, 'Remember address', current_teacher.address != '', id: 'hello_check_box' %>Remember Address
            </label>
          </div>
        </div>
      </div> <!-- end of form-group -->


    <% end %>
  </div>


<% end %> <%# end of if @cart.location_id != nil %>

