<div class="container-fluid subscription_container">
  <div class="col-xs-12 mob_no_padding ">
    <div class="subscription_heading">
      This is a test. please ignore
      <h4>Your membership has expired and must be updated <small class="white">€3 please</small></h4>
    </div>
    
      <div class="col-xs-3 col-xs-offset-3 colour_this">
        <% if @teacher.paypal_email != "" %>
          <%= form_tag pay_membership_paypal_path, class: 'membership_bookin_form', method: 'post' do %>
            
            
            <%= hidden_field_tag :teacher_id, current_teacher.id %>
            <%# hidden_field_tag :sender_email, current_teacher.email %>
            <%# hidden_field_tag :user_id, current_teacher.id %>

            
            <%= image_submit_tag 'https://www.paypalobjects.com/en_US/i/btn/x-click-but6.gif', class: 'paypal_image img-responsive' %>
          <% end %>
        <% end %> <%# end of @teacher.paypal_email != "" %>
      </div> <!-- end of col-xs-6-->
    
    <% if @teacher.stripe_access_token != "" %>
      
      <div class="col-xs-3">
        <%= form_tag pay_membership_stripe_path do %>
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= ENV['STRIPE_PUBLIC_KEY'] %>"
          data-description="Pay subscription fee"
          data-currency="eur"
          data-imgage="<%= asset_url 'stripe.png' %>"
          ></script>
          <%= hidden_field_tag :teacher_id, current_teacher.id %>
          <%= hidden_field_tag :teacher_email, current_teacher.email %> 
    
        <% end %>
      </div> <!-- end of col-xs-6-->

    <% end %>
  </div>
</div>