<!DOCTYPE html>
<html>
<head> 
  <%= yield :head %>
	<%= include_gon %>
  <title>Lessons</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
  <script src="https://maps.googleapis.com/maps/api/js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

  <%= render 'partials/shim' %>
</head>
<body id="standard_layout">
	
	<div class="container">
		<%= render 'partials/home_page_nav' %>
	</div>
	
	
  <div class="container" id="main_page">
    <%= render 'partials/notices' %>

    <%= yield %>
  </div>
		
	 	
		
	
</body>
</html>
