<!DOCTYPE html>
<html lang='en-IE'>
  <head> 
    <meta http-equiv="content-language" content="en">
    <%= include_gon %>
    <title><%= yield :title %> | Learn Your Lesson</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
    <meta name="description" content="<%= yield :description %>">
    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application', async: true %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>
    <%= yield :head %>
    

    <%= render 'partials/shiv' %>
  </head>
  <body id="standard_layout">
  	<script>
      WebFontConfig = {
        google: { families: ['Open+Sans']}
      };

      (function() {

         var wf = document.createElement('script');

         wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +

             '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';

         wf.type = 'text/javascript';

         wf.async = 'true';

         var s = document.getElementsByTagName('script')[0];

         s.parentNode.insertBefore(wf, s);

       })();
    </script> 
  	
  	<%= render 'partials/home_page_nav' %>
  	
  	
  	
    <div class="container main_page_containers" id="main_page">
      <%= render 'partials/notices' %>

      <%= yield %>

      <%= render 'partials/share_buttons' %>
    </div>

    <% if Rails.env.production? %>
      <%= render 'partials/google_analytics' %>
    <% end %>
    
  </body>
</html>

<% if teacher_signed_in? %>
  <%= render partial: 'modals/add_authentications_modal' %>
<% end %>