<!DOCTYPE html>
<html>
  <head> 
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <%= include_gon %>
    <title><%= yield :title %> | Learn Your Lesson</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <meta name="description" content="<%= yield :description %>">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application', async: true %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>
    <%= yield :head %>
    

    <%= render 'partials/shiv' %>
  </head>
  <body id="standard_layout">
  	
  	
  	<%= render 'partials/home_page_nav' %>
  	
  	
  	
    <div class="container main_page_containers" id="main_page">
      <%= render 'partials/notices' %>

      <%= yield %>

      <%= render 'partials/share_buttons' %>
    </div>  	
  </body>
</html>
