<!DOCTYPE html>
<html>
  <head> 
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <%= include_gon %>
    <title><%= yield :title %> | Learn Your Lesson</title>
    <meta name="google-site-verification" content="XORrVAwevJaNm7WUJV4ZhrWmECzLGGNqm_qKGwHNqBE" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <meta name="description" content="<%= yield :description %>">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application', async: true %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>
    <%= yield :head %>
    

    <%= render 'partials/shiv' %>
  </head>
  <body id="standard_layout">
  	
  	
  	<%= render 'partials/home_page_nav' %>
  	
  	
  	
    <div class="container main_page_containers" id="main_page">
      <%= render 'partials/notices' %>

      <%= yield %>

      <%= render 'partials/share_buttons' %>
    </div>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-57834504-1', 'auto');
      ga('send', 'pageview');

    </script>
  </body>
</html>
