<!DOCTYPE html>
<html lang='en-IE'>
  <head>
    <meta http-equiv="content-language" content="en">
    <title><%= yield :title %> | Learn Your Lesson</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
    <meta name="description" content="<%= yield :description %>"> 
    <meta name="google-site-verification" content="6j9_P-85u82HFrJRz37myb-MgCdIKJmearbQSz4aW18" />   
       
    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application', async: true %>
    <%= favicon_link_tag 'favicon3.ico' %>
    <%= csrf_meta_tags %>
    <%= yield :head %>

    <%= render 'partials/shiv' %>    

  </head>
  <body id="standard_layout">
    <% if Rails.env.production? %>
      <%= render 'partials/google_analytics' %>
    <% end %>
     	
    <%= render 'partials/navs/teacher_nav' %>  	
    

    <div class="outer-container">
      <%= render 'partials/notices' %>      
    </div>
    
    <div id="feedback">
      <%= link_to 'Feedback', feedback_path %>
    </div>

    <%= yield %> 
      
    
    <% if teacher_signed_in? %>
      <%= render partial: 'modals/add_authentications_modal' %>
    <% end %>

    
      <%= render 'partials/google_analytics' %>
    

    <% if !is_mobile? %>
      <%= render 'partials/socials/share_buttons' %>
    <% else %>
    
      <%= render 'partials/socials/mobile_share_buttons' %>
    <% end %>

  </body>

  
</html>
