<!DOCTYPE html>
<html>
  <head>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <title>Learn Your Lesson</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
    <%= include_gon %>   
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= yield :head %>
    
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <%= render 'partials/shiv' %>
  </head>
  <body id="standard_layout">

  	
    <%= render 'partials/teacher_nav' %>
    
  	 
  	
    <div class="container main_page_containers" id="main_page">
      
      <%= render 'partials/notices' %>

      <%= yield %>
    </div>
   

  		
  		
  	<div id="share_buttons">

      <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=734492879977460&version=v2.0";
          fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));
        </script>
        <div class="fb-like" data-href="http://learn-your-lesson.herokuapp.com" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>

        <div>
          <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://learn-your-lesson.herokuapp.com" data-text="Learn Your Lesson" data-count="none" data-hashtags="whatwitllyoulearn">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div>
        <p>Recommend on Facebook or Twitter</p>
        <div class="share_buttons_close">&#10006;</div>
    </div> <!-- end of share_buttons -->
  </body>
</html>
