<!DOCTYPE html>
<html>
  <head>
    <script async src="https://maps.googleapis.com/maps/api/js"></script>
    <title><%= yield :title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
    <%= include_gon %>   
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>
    <%= yield :head %>
    
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <%= render 'partials/shiv' %>
  </head>
  <body id="standard_layout">

  	
    <%= render 'partials/teacher_nav' %>
    
  	 
  	
    <div class="container main_page_containers" id="main_page">
      
      <%= render 'partials/notices' %>

      <%= yield %>

      <%= render 'partials/share_buttons' %>
    </div>
  </body>
</html>


