<!DOCTYPE html>
<html>
<head>
  <script src="https://maps.googleapis.com/maps/api/js"></script>
  <title>Lessons</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
  <%= include_gon %>   
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
  
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

  <%= render 'partials/shim' %>
</head>
<body>
	<div class="container main_page_containers">
    <%= render 'partials/teacher_nav' %>
  </div>
			
	
  <div class="container main_page_containers" id="main_page">
    <%= render 'partials/notices' %>

    <%= yield %>
  </div>
 

		
		
	
</body>
</html>
